.collection
  .collection-name
    %a{href:"#{collection_path(collection)}"}= collection.name
  .collection-tags
    - collection.tags.order("collections_tags.created_at") do |tag|
      = "#" + tag
  .collection-images
    .row
      - collection.product_versions.order("collections_product_versions.created_at desc").limit(4) do |product|
        .col-xs-6.col-md-4.col-lg-3
          %img.collection-image{src:"#{product.url}"}