%article#collectionsArticle
  .topHome
    .spacer25
    .container
      - if @current_user
        .row
          = render "new_collection"
        .spacer25
      .row
        = render @collections
    .spacer200