%article#collectionArticle
  .topHome
    .spacer25
    .container
      .row
        .collection-title
          = @collection.name
        - if @collection.belongs_to?(@current_user)
          .pull-right
            = link_to "Edit", edit_collection_path(@collection)
      .spacer25
      - if @collection.belongs_to?(@current_user)
        = render "collection_items/form"
      = render "collection_items"
    .spacer200