--- 
http_interactions: 
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=CjQjAAAAPtgCbee5jsEkoWoc6apT3qFBYmWlxcVOPrwUBoQ5Pqv8ExTxyh-M--tsL8QAT8xCEhBo2z7K3wdT4K6S7smh--ZIGhTCBtyjxjD5fBNcR15jutp7SZA2Fw&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\n   \"debug_info\" : [],\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\" : [\n         {\n            \"long_name\" : \"21\",\n            \"short_name\" : \"21\",\n            \"types\" : [ \"street_number\" ]\n         },\n         {\n            \"long_name\" : \"Rue d'Aboukir\",\n            \"short_name\" : \"Rue d'Aboukir\",\n            \"types\" : [ \"route\" ]\n         },\n         {\n            \"long_name\" : \"2nd arrondissement of Paris\",\n            \"short_name\" : \"2nd arrondissement of Paris\",\n            \"types\" : [ \"sublocality\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"Paris\",\n            \"short_name\" : \"Paris\",\n            \"types\" : [ \"locality\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"Paris\",\n            \"short_name\" : \"75\",\n            \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"\xC3\x8Ele-de-France\",\n            \"short_name\" : \"IDF\",\n            \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"France\",\n            \"short_name\" : \"FR\",\n            \"types\" : [ \"country\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"75002\",\n            \"short_name\" : \"75002\",\n            \"types\" : [ \"postal_code\" ]\n         }\n      ],\n      \"adr_address\" : \"\\u003cspan class=\\\"street-address\\\"\\u003e21 Rue d&#39;Aboukir\\u003c/span\\u003e, \\u003cspan class=\\\"postal-code\\\"\\u003e75002\\u003c/span\\u003e \\u003cspan class=\\\"locality\\\"\\u003eParis\\u003c/span\\u003e, \\u003cspan class=\\\"country-name\\\"\\u003eFrance\\u003c/span\\u003e\",\n      \"formatted_address\" : \"21 Rue d'Aboukir, 75002 Paris, France\",\n      \"geometry\" : {\n         \"location\" : {\n            \"lat\" : 48.86658670,\n            \"lng\" : 2.34329250\n         }\n      },\n      \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png\",\n      \"id\" : \"2c85058568da06f8359c412b304e5c35f3095343\",\n      \"name\" : \"21 Rue d'Aboukir\",\n      \"reference\" : \"CpQBhQAAAG15qCYpj5OmMTHcOTZ7qomrrr255FH3R_e3a7vpic35IQ-YXtY-ROwH81FL26jvAD7aEhnjE_FL4T-KRdMmntxFOVxEzdftm9RFzKw4ewtrERI4Y-2N_mguYcbd6f_VWDs7EbiXPzUe95oZPM2PDOaTVSJFmdrURpvxVkl2cvCj4KmyBH7JaqeABsynhWs21xIQf9FYYU6blaYNGU1uMGaC7hoUKSSaOYmY96xrmlwVV4MlmTuYoyY\",\n      \"types\" : [ \"street_address\" ],\n      \"url\" : \"https://maps.google.com/maps/place?q=21+Rue+d%27Aboukir&ftid=0x47e66e22d53221a3:0xf29fd0925fb5f3c8\",\n      \"vicinity\" : \"2nd arrondissement of Paris\"\n   },\n   \"status\" : \"OK\"\n\
        }\n"
  recorded_at: Wed, 03 Jul 2013 16:50:38 GMT
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=21%20rue%20d'Abou&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.84,2.24&radius=100&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "predictions" : [
              {
                 "description" : "21 Rue d'Aboukir, Paris, France",
                 "id" : "04d1b57011a04898da3e9eba092b1595748a0f4a",
                 "matched_substrings" : [
                    {
                       "length" : 13,
                       "offset" : 0
                    }
                 ],
                 "reference" : "ClRNAAAAjSDrtsN7ZD13UWHq9vEd-b0AbV-UTC0FCEnOo4v8hf71KLKrS3gWUz1-P9CVAA_6yfpqfzHKIaZ0iuZl_6Y3PPmh6MJe4T5zjUIqsoipYPISECU_GOCtomDwXq6UhGadEfoaFKks4fl7YptIi9pkxjCxglL7CQ0n",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "21 Rue d'Aboukir"
                    },
                    {
                       "offset" : 18,
                       "value" : "Paris"
                    },
                    {
                       "offset" : 25,
                       "value" : "France"
                    }
                 ],
                 "types" : [ "route", "geocode" ]
              },
              {
                 "description" : "21 Rue d'Aboukir, Courbevoie, France",
                 "id" : "6f59abd1[...]
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=21%20rue%20Abou&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.82,2.24&radius=100&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      str[...]
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=ClRNAAAAu2vgwlaOOP9j92SUZSmS6c3XQppD_H3-g-LForQzhQAihTD0uTNT234nHwpnaVeWvCdntvOmrwouNIcBQwO4cOPR3bmdimEO0pP-9DwKQFoSEPa_CqCJIjc3H-w5hoxAQ60aFBJxKAF7cHWMdYe2A4bzJmCScypn&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK[...]
