<div class='flink-menu' data-category="<%= params[:category] %>">
  <%= link_to 'flink loves', '/explore/flinkloves'%>
  <%= link_to 'popular', '/explore/popular'%>
  <%= link_to 'recent', '/explore/recent'%>
  
</div>