<div class='flink-menu' data-category="<%= params[:category] %>">
  <%= link_to 'flink loves', '/explorer/flinkloves'%>
  <%= link_to 'popular', '/explorer/popular'%>
  <%= link_to 'recent', '/explorer/recent'%>
  
</div>