<div class="social-list">
  <ul>
    <li><%= link_to icon('instagram fa-2x'), flink_instagram_url, :target => '_blank' %></li>
    <li><%= link_to icon('facebook fa-2x'), flink_facebook_url, :target => '_blank' %></li>
    <li><%= link_to icon('twitter fa-2x'), flink_twitter_url, :target => '_blank' %></li>
    <li><%= link_to icon('pinterest fa-2x'), flink_pinterest_url, :target => '_blank' %></li>
  </ul>
</div>