#landing-page
  #background-page
  %article
    .container
      .row
        .col-md-6.col-md-offset-2.left-colum.center
          .row
            .spacer100
            #diamond= image_tag("flink/diamond.png")
            .spacer40
          .row.tagline
            Discover, get inspired and share trendy street style looks from top fashion bloggers.
          .row
            .spacer20
            #download-btn= link_to image_tag("flink/badge.png"),"https://itunes.apple.com/app/flink-discover-share-awesome/id798552697?l=fr&ls=1&mt=8"
        .col-md-5.right-column
          .spacer50
          .iphone
            = image_tag("flink/iphone-look.png", :class => "look-screen")