#landing-page
  #background-page
  %article
    .container
      .row
        .col-md-6.col-md-offset-2.left-colum.center
          .row
            %h1
              Flink
              .spacer40
          .row
            #diamond= image_tag("flink/diamond.png")
            .spacer40
          .row.tagline
            Fashion, Love, Everywhere
            %br
            Discover awesome looks from the world best
            %br
            fashion bloggers everyday
          .row
            #download-btn= link_to image_tag("flink/badge.png"),"https://itunes.apple.com/us/app/flink-discover-share-awesome/id798552697?l=fr&ls=1&mt=8"
        .col-md-5.right-column
          .spacer50
          .iphone
            = image_tag("flink/iphone-look.png", :class => "look-screen")