#landing-page
  #background-page
  %article
    .container
      .row
        .col-md-6.col-md-offset-2.left-colum.center
          .row
            = image_tag("flink/diamond.png")
          .row.tagline
            Fashion, Love, Everywhere
            %br
            Discover awesome looks from the world best
            %br
            fashion bloggers everyday
          .row
            = link_to image_tag("flink/badge.png"),"https://itunes.apple.com/fr/app/shopelia-lachat-facile-!/id731471392?mt=8"
        .col-md-5
          .iphone
            = image_tag("flink/iphone-look.png", :class => "look-screen")


