<!doctype html>
<html>
  <head>
    <style type="text/css">
      body{
        background-color:transparent;
      }
      body div.banner{
        width:100%;
        background-color:#FF498F;
        border-radius:4px;
        padding:4px;
        font-family:'Verdana';
        color:white;
      }
      .flink-logo{
        width:30px;
      }
      .flink-brand-name{
        font-size:18px;
        vertical-align:top;
      }
      .followers-count{
        font-size:12px;
        text-align:center;
      }
      .username{
        font-style:italic;
        font-size:12px;
        display:block;
        max-width:100%;
      }
      div.followers{
        text-align:center;
        font-weight:bold;
      }
    </style>
  </head>
  <body>
    <div class="banner">
      <img src="http://flink.io/images/diamond.png" class="flink-logo"/>
      <span class="flink-brand-name">Flink</span>
      <span class="username"><%= @flinker.username if @flinker %></span>
    </div>
    <div class="followers">
      <span class="followers-count">
        <%= pluralize(@flinker.followers.count, 'follower') if @flinker %>
      </span>
    </div>
  </body>
</html>
