.col-xs-6.col-md-4
  .collection-product-box
    .collection-product
      %img.collection-product-img{src:"#{collection_item.product_version.image_url}"}
    .collection-product-price= collection_item.product_version.price