.col-xs-6.col-md-4
  .collection-item-box
    - if collection_item.product.versions_expired?
      .collection-item-spinner
        .spinner
    .collection-item
      %img.collection-item-img{src:"#{collection_item.product_version.image_url}"}
    .collection-item-price= number_to_currency(collection_item.product_version.price || 0)