select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: $formsCellHeight;
  padding: 4px 6px;
  border: 1px solid darken($lightGrey,20%);
  border-radius: 3px;
  font-size: $sansFontFamily;

  &:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
  }
}


.custom-btn ,input[type="button"],input[type="submit"], input[type="reset"],{
  @include btn(1px,darken($green,15%),3px,$formsCellHeight,4px 20px,14px,#FFFFFF,$green,darken($green,10%),5%,3%);
}

form abbr {
  display: none;
}

form label {
  text-align: left;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
