@mixin gradient($startGradient,$endGradient) {
  background-color: $startGradient;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startGradient), color-stop(100%, $endGradient));
  background-image: -webkit-linear-gradient(top, $startGradient, $endGradient);
  background-image: -moz-linear-gradient(top,$startGradient, $endGradient);
  background-image: -ms-linear-gradient(top, $startGradient, $endGradient);
  background-image: -o-linear-gradient(top, $startGradient, $endGradient);
  background-image: linear-gradient(top, $startGradient, $endGradient);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$startGradient, endColorstr=$endGradient);
}

@mixin btn($borderWidth,$borderColor,$borderRadius,$height,$padding,$fontSize,$fontColor,$startGradient,$endGradient,$hoverPercentage,$activePercentage){
  border: $borderWidth solid  $borderColor;
  @include border-radius($borderRadius);
  height: $height;
  padding: $padding;
  color: white;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  font-size: $fontSize;
  font-weight:bold;
  text-align: center;
  @include gradient($startGradient,$endGradient);
  &:hover{
    border:$borderWidth solid darken($borderColor,$hoverPercentage * 1.5);
    @include gradient(darken($startGradient, $hoverPercentage),darken($endGradient, $hoverPercentage));
  }
  &:active {
    border:$borderWidth solid darken($borderColor,$activePercentage);
    @include gradient(darken($startGradient, $activePercentage),darken($endGradient, $activePercentage));
  }
}