$modalHeight: 500px;
$modalWidth: 622px;
$borderRadius: 4px;

#modal {
  display: block;
  position: absolute;
  opacity: 1;
  z-index: 10000;
  border-radius:$borderRadius;
  background-color:rgba(0, 0, 0, 0.65);
  //min-height: $modalHeight;
  min-width: $modalWidth ;
  margin-top: 10px;
  margin-bottom: 20px;
}

#modal-header {
  padding: 10px;
  height: 70px;
  background: $lightGrey;
  @include border-top-radius($borderRadius);
}


.logo {
  margin-top: 20px;
}

#link-header {
  color: $darkGrey;
  margin-right:5%;
  margin-top: 25px;
  width: auto;
}

#header-text {
  padding-right: 10px;
}

.box {
  border-radius:$borderRadius;
  padding: 10px;
  background: $lightGrey;
}



#close {
  position:absolute;
  background:url("bt-fermer-off.png") 0 0 no-repeat;
  width:30px;
  height:30px;
  display:block;
  text-indent:-9999px;
  top:5px;
  right:5px;
  &:hover {
    background:url("bt-fermer-hover.png") 0 0 no-repeat;
  }
}

.green {
  color: $green;
}

.bold {
  font-weight: bold;
}


.security {
  .field-title img {
    width: auto;
  }
  font-size: 11px;
  line-height: -5px;
}
.security-infos {
  margin-top:5px
}

#security-256 {
  display: block;
  margin-top: -6px;
}