$modalHeight: 500px;
$borderRadius: 4px;

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  z-index:9999;
  background-color:rgba(0, 0, 0, 0.35);
}


#modal {
  display: block;
  position: absolute;
  opacity: 1;
  z-index: 10000;
  border-radius:$borderRadius;
  background-color:rgba(0, 0, 0, 0.65);
  min-height: $modalHeight;
}

#modal-header {
  padding: 10px;
  height: 70px;
  background: $lightGrey;
  @include border-top-radius($borderRadius);
}

#header-text {
  padding-right: 10px;
}

#modal-content {

}

#modal-right,#modal-left {
  border-radius:$borderRadius;
  padding: 10px;
  background: $lightGrey;
}



#close {
  position:absolute;
  background:url("bt-fermer-off.png") 0 0 no-repeat;
  width:50px;
  height:50px;
  display:block;
  text-indent:-9999px;
  top:-15px;
  right:-15px;
  &:hover {
    background:url("bt-fermer-hover.png") 0 0 no-repeat;
  }
}

.row-fluid {
  margin-left: 4.35%;
}

.green {
  color: $green;
}

.bold {
  font-weight: bold;
}