.line {
  border: 1px solid darken($lightGrey,10%);
}

#total-price-table {
  td:nth-child(2) {
    text-align: right;
  }
  td:nth-child(3) {
    text-align: right;
  }
}
#order-total {
  font-size: 24px;
  font-weight: bold;
  td:nth-child(2) {
    color: $red;
  }
}

.thank-you {
  img.present {
    max-width: 80px;
  }
  text-align: center;
  font-size: 16px;
  * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .green {
    font-size: 20px;
  }
}

.infos > img {
   padding:  4px;
 }

#order-cashfront {
  display: none;
  font-weight: bold;
  color: $red;
}

select {
  max-width: 50px;
  height: 30px;
}

#order-test-box {
  display: none;
}