.product-image {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid darken($lightGrey,10%);
  border-radius:$borderRadius;
  padding: 5%;
  display: block;
  margin: auto;
}

.product {
  display: block;
  margin: auto;
}

.taxes {
  margin-top: -10px;
}