.product-image {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid darken($lightGrey,10%);
  border-radius:$borderRadius;
  padding: 5%;
  display: block;
  margin: auto;
}

.product {
  display: block;
  margin: auto;
}

.price-infos > .pull-left {
  padding-top: 7px;
  line-height: 1.1em;
}

.price-infos > .pull-right {
  max-width: 40%;
}

.pull-right > .price > span.green.bold {
   font-size: 200%;
}

.pull-right > .price > span.taxes {
  font-size: 120%;
  display: block;
  margin-top: -10px;
  margin-left: 3px;
}