@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
  .row-fluid {
    margin-left: 0;
  }

  #modal {
    min-width: 300px;
    border-radius: 0;
    margin: 0;
  }

  #close {
    opacity: 0;
    pointer-events: none;
  }

  #modal-header {
    position: fixed;
    height: 30px;
    @include border-top-radius(0);
    img {
      width: 100px;
      margin-top: 5px;
    }
    width: 100%;
    z-index: 10;
  }

  #link-header {
    margin-top: 4px;
  }

  .box {
    display: block;
    margin: auto;
    width: 50%;
    padding:5%;
    min-width: 260px;
    margin-bottom: 20px;
    border-radius:$borderRadius;
    background: $lightGrey;
  }

  #modal-content, .full-description {
    margin-top: 45px !important;
  }

//Product

  .product > h4 {
    font-size: 100%;
  }
  .merchant-infos {
    max-width: 100px;
  }
  .pull-right > .price > span.green.bold {
    font-size: 150%;
  }
//
  .pull-right > .price > span.taxes {
    font-size: 100%;
//    display: block;
    margin-top: -8px;
    margin-left: 3px;
  }


  .product-description {
    display: none;
  }

}