@media (min-width: 768px) and (max-width: 979px) {
  #modal {

  }
}

@media (max-width: 767px) {
  .row-fluid {
    margin-left: 0;
  }

  #modal {
    min-width: 319px;
    border-radius: 0;
  }

  #modal-header {
    height: 40px;
    @include border-top-radius(0);
    img {
      width: 100px;
      margin-top: -10px;
    }
  }

  #modal-header .logo {
    margin-top: 10px;
  }

  #link-header {
    margin-top: 10px;
  }

  #modal-right, #modal-left {
    display: block;
    margin: auto;
    width: 50%;
    min-width: 310px;
    margin-bottom: 20px;
    border-radius:$borderRadius;
    padding:20px;
    background: $lightGrey;
  }
//Product
  .product-image {
    width: 30%;
    margin-right: 10px;
    float: left;
  }

  .product > h4 {
    font-size: 100%;
    margin: 0;
  }

  .price-infos{
     float: left;
  }

  .price-infos > .pull-left {
    clear: both;
  }

  .pull-right > .price > span.green.bold {
    font-size: 150%;
  }

  .pull-right > .price > span.taxes {
    font-size: 100%;
    display: block;
    margin-top: -10px;
    margin-left: 3px;
  }

  //Paiement Card Fields

  .paiement-view > .control-group > .controls > input {
    width: 31%;
  }
  .paiement-view > .control-group > .controls > input:nth-child(1) {
    width: 100%;
  }

  h5 {
    //text-rendering: optimizeSpeed;
  }

}