@import url(https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

$sansFontFamily : 'Asap', sans-serif;

$green: #29b153;
$lightGrey: #f5f5f5;
$darkGrey: #333333;
$blue: #0099cc;
$red: #d5263b;


$bodyBackground: $lightGrey;


$linkColor: $blue;
$textColor: $darkGrey;

$btnBackground:              $green;
$btnBackgroundHighlight:     darken($green,10%);
$btnBorder:                  darken($green,5%);

$btnInfoBackground:                 $blue;
$btnInfoBackgroundHighlight:        darken($blue,10%);
$btnInfoBorder:                     darken($blue,5%);

//Font Size
$smallSizeFont: 14px;
$mediumSizeFont: 22px;

//Forms
$formsCellHeight:45px;
$formsCellwidth: 294px;
$formsButtonHeight: 45px;
$formsButtonWidth: 308px;

// Popovers
// -------------------------

$popoverBackground:       $red;
$popoverArrowWidth:       5px;
$popoverArrowColor:       $red;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);