@import "variables.css.scss";
@import "bootstrap_and_overrides.css.less";
@import "common.css.scss";

body {
  background-color: $lightGrey ;
}

.border-form-div {
  max-width: 320px;
  padding: 19px 29px 19px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  color: $darkBlue;
  border: 1px solid #cecece;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  border-radius: 3px;
  border: 1px solid #cecece;
}
.link-delete:hover {
  text-decoration: none;
}