.idea/
*.swp
/.bundle
/db/*.sqlite3*
/log/*.log
chromedriver.log
/tmp
Gemfile.lock
/coverage
config/database.yml
public/assets/
gpg/random_seed
gpg/pubring.gpg~
keys/mango_pay/production
lib/config/mangopay_test.yml
lib/config/mangopay_production.yml
config/environments/development.rb

plugin/*/node_modules/
plugin/*/build/
plugin/saturn/vendor/
plugin/ariane/vendor/
plugin/kanaveral/vendor/
plugin/*/dist/
plugin/priv_keys/
*.sublime-project
*.sublime-workspace

public/images
.DS_Store
dump.rdb
.ruby-version
app/mailers/tmp
public/flinkers.csv
