#loader {
    width : 100px;
    height : 100px;
    background-color : #000000;
    border-radius : 8px;
    position : absolute;
    opacity : 1;
    z-index: 10001;
    background-image: url('/images/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#lean_overlay {
    position:  fixed;
    top: 0;
    left: 0;
    height:  100%;
    width: 100%;
    z-index:  10000;
    background-color:  rgba(0, 0, 0, 0.35);
}

