%header.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to(image_tag("logo-brand.png", class:"logo-navbar"), "/", class:"navbar-brand")
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_developer.present?
          %li#nav-tracking
            = link_to "Product tracking", developers_tracking_index_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = current_developer.name
              %b.caret
            %ul.dropdown-menu
              %li
                =link_to "Sign out", destroy_developer_session_path, method:"delete"
        - else
          %a.btn.btn-default.navbar-btn{href:"#{developer_session_path}"}
            Sign in
