#collection-link
  .pull-left=link_to("Collection n°" + @collection.uuid , @collection, :target => "_blank")
  %a.pull-right#remove_collection
    Remove
  .spacer10

:javascript
  $("#remove_collection").click(function(){
     $("#collection-link").remove();
     $("#message_collection_uuid").val("");
  })