= form_for([:admin,:georges,@device,Message.new], remote: true, :html => { :id => 'message_form' }) do |f|
  = f.text_area :content ,:rows => 10, :class => "span5"
  %label.checkbox
    %input.checkbox{type:"checkbox",id:"data-checkbox", checked:false} send product urls
  = f.text_area :products_urls, :rows => 10, :class => "span5"
  = f.submit "Validate", :class => 'btn btn-success btn-large'
