= simple_form_for [:admin,:georges,@device,Message.new], remote:true do |f|
  = f.input :content,label:false
  = f.input :products_urls,:as => :text, label:false, placeholder:"Product Urls"
  = f.button :submit, "Validate", :class => 'btn-success'


%input{type:"checkbox",id:"data-checkbox"} send product urls

