%section.header
  %header
    %h1 Conversation
%section.chat
  - @messages.each do |message|
    - unless message.content.empty?
      %div{class: "from-#{message.from_admin ? 'admin':'user'}"}
        %p= message.content
      .clear


  =render partial: "admin/georges/messages/form"