<%= render 'meta.html.erb' %>
<div class="container">
  <span class="title">You are a fashion blogger and want to publish your looks on Flink?</span>
  <span class="title">You need help with the app or just want to share some suggestions?</span>
  <br />
  <span class="subtitle">Contact us by mail at <a href="mailto:hello@flink.io">hello@flink.io</a> or ping us on our social networks!</span>
  <%= render 'flink/social_list.html.erb' %>
</div>