%div.hashtags-block{:"data-look-id" => @look.id}
  =form_for([:admin, @look]) do |f|
    =f.select :season, [:chaud, :froid], selected:@look.season, include_blank:"Chaud/Froid"
    %br
    %div.form
      =f.label :staff_pick, 'Staff pick'
      =f.check_box :staff_pick
    =f.fields_for :hashtags do |ff|
      %p
        =ff.text_field :name, class: "hashtag-input hashtag-input-highlighted-#{HighlightedLook.highlight?(@look, ff.object)}"
        =check_box_tag :highlighted, "1", HighlightedLook.highlight?(@look, ff.object),  class:'hashtag-highlighted-checkbox', :"data-hashtag_id" => ff.object.id
        =ff.label :_destroy, 'x', class:'hashtag-destroy-label'
        =ff.check_box :_destroy, class:'hashtag-destroy-checkbox'
    
