%section.header
  %table 
    %thead
      %th Look
      %th Date de publication
    - @looks.each do |look|
      %tr
        %td=link_to image_tag(look.post.images.first), admin_post_path(look.post)
        %td=l(look.flink_published_at)
