#mobile-cover
#appstore-btn= link_to image_tag("flink/badge.png"),"https://itunes.apple.com/us/app/flink-discover-share-awesome/id798552697?l=fr&ls=1&mt=8"

:javascript
  $(document).ready(function(){
     $("#mobile-cover").css({
        "background": "url(#{look.look_images.order(:display_order).first.picture.url(:large)}) no-repeat center center",
        "background-size": "auto 600px"
     })

  });
