<audio id="sound-processing">
  <source src="/sounds/incoming_order.mp3" type='audio/mpeg'>
</audio>

<audio id="sound-pending">
  <source src="/sounds/order_injection_failed.mp3" type='audio/mpeg'>
</audio>

<audio id="sound-success">
  <source src="/sounds/order_successfully_completed.mp3" type='audio/mpeg'>
</audio>

<audio id="sound-failed">
  <source src="/sounds/order_abort.mp3" type='audio/mpeg'>
</audio>

<div class="row">
  <div class="span12" id="processingOrdersSection">
    <span class="badge"><h2>Processing orders</h2></span>
    <table id="processingOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"processing", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
  <div id="pendingOrdersSection">
    <span class="badge badge-warning"><h2>Pending Orders</h2></span>
    <table id="pendingOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"pending", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
</div>

<div class="row">
  <div class="span6" id="completedOrdersSection">
    <span class="badge badge-success"><h2>Completed orders</h2></span>
    <table id="completedOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"completed", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
  <div class="span6" id="failedOrdersSection">
    <span class="badge badge-important"><h2>Failed orders</h2></span>
    <table id="failedOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"failed", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
</div>
