%section.header
  %header
    %h1 Messages
    %h2 Talk with users, Make their dream come true

.container-fluid
  .row-fluid
    .span2
      %article.coolbox
        %h3 Filters
    .span10
      %article.coolbox
        %h3 Merchants list
        %table#messages.table.table-striped
          %thead
            %tr
              %th Device Id
              %th Content
              %th Actions
          %tbody
            - @messages.each do |message|
              %tr
                %td= message.device_id
                %td= message.content
                %td= link_to "show conversation", admin_message_path(message)