.container
  .row
    .span6.offset3
      - @messages.each do |message|
        .row
          .content{class: "pull-#{message.from_admin ? 'right admin-message':'left user-message'}"}
            = message.created_at.strftime("%H:%M")
            = message.content