<section class="header">
  <header>
    <h1>Developers</h1>
    <h2>The more, the merrier !</h2>
  </header>
</section>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <article class="coolbox">
        <h3>Actions</h3>
        <a type="button" class="btn btn-large btn-success" href="<%= new_admin_developer_path %>">
          <i class="icon-plus icon-white"></i> add a developer
        </a>
      </article>
    </div>
    <div class="span10">
      <article class="coolbox">
        <h3>Full list</h3>
        <table id="developers" class="table table-striped" data-source="<%= admin_developers_url(format: 'json') %>">
          <thead>
            <tr>
              <th>Name</th>
              <th>API key</th>
              <th>Events</th>
              <th>Orders</th>
              <th>Users</th>
              <th>Items</th>
            </tr>
          </thead>
          <tbody />
        </table>
      </article>
    </div>
  </div>

</div>

