%section.header
  %header
    %h1 Developers
    %h2 Add a new developer !

.container-fluid
  .row-fluid
    .span4
      %article.coolbox
        %h3 Create
        = simple_form_for(Developer.new, :url => admin_developers_path) do |f|
          = f.input :name, :required => true, :autofocus => true
          = f.button :submit, "Create developer", :class => 'btn-success'