%section.header
  %header
    %h1 Merchants
    %h2 Making business

.container-fluid
  .row-fluid
    .span2
      %article.coolbox
        %h3 Filters
        %select.input-medium.filter-option#vulcainFilter
          %option{value:''} Vulcain filter
          %option{value:'with'} With Vulcain
          %option{value:'without'} Without Vulcain
        %select.input-medium.filter-option#saturnFilter
          %option{value:''} Saturn filter
          %option{value:'with'} With Saturn
          %option{value:'without'} Without Saturn
    .span10
      %article.coolbox
        %h3 Merchants list
        %table.table.table-striped#merchants{data:{source:"#{admin_merchants_url(format: 'json')}"}}
          %thead
            %tr
              %th ID
              %th Name
              %th Logo
              %th Views
              %th Clicks
              %th Orders
              %th Turnover
              %th Vendor
              %th Vulcain
              %th Saturn
          %tbody