.container
  .row.cgu
    .col-md-6.col-md-offset-3
      .spacer40
      %h3
        Charte de Confidentialité
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 1. Objet
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Cette rubrique illustre l'engagement de la société PRIXING eu égard au respect de votre vie privée et à la protection des données personnelles vous concernant (les "Données"), recueillies et traitées à l'occasion de votre utilisation du site Shopelia (le "Site") dans les conditions visées au sein de nos 
        = link_to "Conditions Générales d'Utilisation", cgu_path
      %p.p3
        %span.s1 La présente Charte a ainsi été élaborée afin que vous puissiez naviguer sur le site Shopelia et utiliser les services du Site en toute confiance. Sa finalité est donc de vous renseigner sur les informations susceptibles d’être collectées et sur l’usage pouvant en être fait. Elle vous informe aussi de vos droits sur les Données vous concernant qui ont été recueillies.
      %p.p3
        %span.s1 la société PRIXING est le responsable de traitement des données collectées dans le cadre du service Shopelia, il respecte à ce titre les dispositions légales et réglementaires en matière de vie privée et de protection des données à caractère personnel prévues notamment par la loi du 6 janvier 1978. Elle dispose d'un Correspondant Informatique et Libertés (CIL) en la personne du cabinet d'avocats LEXENSIS Avocats Conseils (4 place du 18 juin 1940 - 75006 PARIS).
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 2. Données Collectées
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les Données recueillies et ultérieurement traitées par notre Site sont celles que vous nous transmettez volontairement lors de l’ouverture de votre compte Utilisateur (le "Compte"), via le Formulaire d'inscription, et concernent au minimum : vos nom et prénom(s), votre adresse de messagerie électronique valide, cette dernière constituant votre identifiant (nom d’Utilisateur) pour accéder à votre Compte et à nos services, un mot de passe choisi par vos soins.
      %p.p3
        %span.s1 Certaines des Données demandées sont obligatoires pour la gestion et l'utilisation de notre service, elles font alors l'objet d'un marquage spécifique qui se matérialise par la présence d'une astérisque à côté de leur intitulé. Les informations ne présentant pas cette astérisque sont facultatives.
      %p.p3
        %span.s1 Les Données recueillies automatiquement par le Site sont votre adresse IP (adresse de votre ordinateur) à laquelle sont associées la version de votre navigateur, l’adresse de la page affichée et la date de la requête.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 3. Finalités des Traitements
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les Données identifiées comme étant obligatoires dans le Formulaire d'inscription sont nécessaires aux fins de bénéficier des fonctionnalités du Site. Nous utiliserons ces informations pour gérer et maintenir notre Site, afin de vous permettre de bénéficier de fonctionnalités personnalisées, ainsi que pour traiter tout signalement ou correspondance de votre part. Les Données recueillies automatiquement par le Site nous permettent d'effectuer des statistiques de consultation de ses pages web.
      %p.p3
        %span.s1 Les informations dont nous disposons à votre sujet pourront être utilisées pour garantir la pertinence des informations et/ou offres commerciales qui pourraient vous être proposées par rapport à vos centres d'intérêt. Nous sommes persuadés que ces informations et/ou offres commerciales personnalisées contribueront à l'amélioration de votre expérience sur notre site. Toutes les informations utilisées sont traitées conformément à notre Charte de confidentialité.
      %p.p3
        %span.s1 Nous pourrons être amenés à collaborer avec d'autres entreprises, par exemple des opérateurs de sites Web, pour vous proposer ces informations et/ou offres commerciales.
      %p.p3
        %span.s1  Nous n'utilisons pas votre adresse électronique ni toute autre information susceptible de vous identifier personnellement sans votre accord, que ce soit pour envoyer des messages publicitaires ou marketing, sauf dans le cadre d'un programme ou d'une fonction spécifique que vous pouvez préalablement activer ou bloquer.
      %p.p3
        %span.s1 Cependant, nous pouvons utiliser votre adresse électronique sans votre accord exprès dans les cas suivants :
      %p.p3
        %span.s1 - Inscription en qualité de membre du Site : Le nouveau membre Utilisateur reçoit un courrier électronique de bienvenue contenant un lien d'activation de son Compte et un rappel des identifiants y permettant l’accès, à savoir son nom d’Utilisateur (constitué par son adresse électronique) ainsi que son mot de passe.
      %p.p3
        %span.s1 - Fermeture du Compte : En cas de demande formulée à la société PRIXING, par l’Utilisateur, en vue de la fermeture définitive ou de la désactivation temporaire de son Compte, un courrier électronique de notification lui est envoyé par le Site afin de l’informer de la réalisation de l’opération demandée. De même, au delà d'un an d'inactivité du Compte, un courrier électronique de notification est envoyé à l’Utilisateur selon les conditions posées à l’article 8 de la présente Charte.
      %p.p3
        %span.s1 - Evénements, Jeux et Concours Shopelia: : Envoi à l’Utilisateur des courriers électroniques afin de l'informer de l’existence de jeux et concours ou événements spéciaux organisés par le Site.
      %p.p3
        %span.s1 - Informations sur le Site et les services proposés : Shopelia peut envoyer à l’Utilisateur des courriers électroniques afin de l'informer des évolutions du Site, lui transmettre les lettres d’information et les notifications des services auxquels il est inscrit. Il vous est toujours possible de faire cesser les envois en vous désinscrivant de la lettre d’information en cliquant sur le lien de désinscription contenu dans le message électronique que nous vous avons adressé.
      %p.p3
        %span.s1  - Demande d’assistance ou soumission de questions / suggestions : Shopelia répond par courrier électronique à l’Utilisateur qui sollicite une assistance pour se connecter sur le Site, modifier ou accéder à son Compte.
      %p.p3
        %span.s1 - Informations relatives à des services analogues à Shopelia proposés par des sous-traitants et/ou des partenaires commerciaux. Vous conservez la faculté de refuser une telle communication, soit en ne donnant pas votre consentement lors de l'inscription et/ou validation de votre commande, soit en manifestant a posteriori votre refus par courrier postal ou courrier électronique à la société PRIXING.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b  4. Destinataires des Données
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La société PRIXING s’engage à protéger votre vie privée et la confidentialité de vos Données.
      %p.p3
        %span.s1 En conséquence, nous nous engageons à ne jamais partager ou divulguer vos Données à des tiers, excepté dans les situations suivantes limitativement énumérées : Lorsque nous y sommes contraints par une autorité judiciaire, des autorités de police et de manière générale par toute autorité administrative habilitée par la loi, Lorsque vous nous avez donné votre accord préalable pour le partage de ces informations, Lorsque vous contrevenez à nos Conditions Générales d'Utilisation (nous sommes ainsi en mesure de transmettre votre adresse IP aux fournisseurs d'accès à des fins d'identification - et obtenir ainsi votre radiation éventuelle - voire, si nous l'estimons nécessaire compte tenu de la nature de vos abus, transmettre votre adresse IP directement auprès des autorités compétentes).
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 5. Sécurité et conservation des Données
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Soucieux de la confiance dont fait preuve l’Utilisateur lorsqu’il se connecte sur notre Site, nous attachons une grande importance à la sécurité et la protection de ses Données et mettons en œuvre toutes mesures nécessaires aux fins de restreindre les risques de perte, détérioration ou mauvaise utilisation de celles-ci.
      %p.p3
        %span.s1 Ainsi, afin de garantir une sécurité optimale, la société PRIXING utilise la technologie standard SSL (Secure Socket Layer) en 256 bits. L'utilisation du protocole SSL, l'une des méthodes de cryptage les plus efficaces et les plus utilisées actuellement, permet de garantir une protection maximale de vos Données.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b  6. Sites partenaires
      %p.p2
        %span.s1 
        %br/
      %p.p3
        %span.s1 Vous pouvez accéder, par les liens hypertexte présents sur le Site, aux sites de Partenaires qui ne sont pas régis par les présentes dispositions de protection des Données. Vous êtes, en conséquence, invité à examiner les règles applicables à l’utilisation et à la divulgation des informations que vous aurez communiquées sur ces sites.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b  7. Droits d’accès, de modification et de suppression de vos données.
      %p.p2
        %span.s1 
        %br/
      %p.p3
        %span.s1 La société PRIXING se conforme aux recommandations de loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Ainsi, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données à caractère personnel vous concernant. La mise en œuvre de ces droits ainsi que la consultation du registre des traitements des données à caractère personnel sont possibles en adressant un courrier à notre CIL par voie électronique à l’adresse cil(at)lexensis(point)com, et/ou par voie postale en écrivant à l’attention de LEXENSIS Avocats Conseils (4 place du 18 juin 1940 — 75006 Paris). Nous vous rappelons qu'il est important que vous indiquiez vos nom, prénom, adresse et, le cas échéant, votre numéro d'Utilisateur afin de faciliter votre identification par le CIL.
      %p.p3
        %span.s1 A tout moment, vous pouvez mettre à jour ou corriger votre profil et votre adresse électronique dans la page de profil de votre Compte.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b  8. Durée de conservation des données et inactivité du compte
      %p.p2
        %span.s1 
        %br/
      %p.p3
        %span.s1 Nous conservons vos données personnelles pendant toute la durée de nos relations contractuelles et elles seront supprimées dans les 12 mois suivant la fin de nos relations contractuelles ou de la date de votre dernière connexion à nos services. Celles-ci ne feront en aucun cas l'objet d'une cession ou divulgation à des tiers, si ce n'est sous forme de statistiques agrégées et non personnelles.
      %p.p3
        %span.s1 Au delà d'un an d'inactivité de votre Compte, celui-ci peut être supprimé à tout moment. Néanmoins, cette suppression ne pourra intervenir qu’après l’envoi par la société PRIXING d’un courrier électronique vous informant de cette inactivité et du risque de suppression de votre Compte. A défaut de réactivation de votre Compte dans un délai de 8 jours à compter de la réception de ce courrier électronique, la société PRIXING pourra alors le supprimer à tout moment, sans nouvelle information préalable.
      %p.p3
        %span.s1 Une fois votre Compte supprimé, vous ne pourrez plus accéder aux services du Site nécessitant la possession d'un Compte, ni aux différents contenus que vous auriez pu stocker ou publier sur ces services.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b  9. Mises à jour de la Charte de Confidentialité
      %p.p2
        %span.s1 
        %br/
      %p.p3
        %span.s1 La société PRIXING est susceptible de modifier la présente Charte de Confidentialité à tout moment.
      %p.p3
        %span.s1 Toutes les modifications de la Charte seront affichées sur cette page. Si les changements sont importants, la société PRIXING s’engage à vous fournir un avis plus conséquent (notification par courrier électronique, par exemple).
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b  10. Questions, réclamations ou suggestions
      %p.p2
        %span.s1 
        %br/
      %p.p3
        %span.s1 Nous tenons à la plus grande clarté au sujet de la confidentialité de vos Données. Aussi, pour toutes questions, suggestions ou autres préoccupations relatives au traitement des Données ou à la façon dont la société PRIXING procède à la collecte et à l'utilisation des Données vous concernant, n’hésitez pas à contacter notre CIL par courrier électronique à l'adresse suivante : cil(at)lexensis(point)com
      .spacer40