.fluid
  .row
    .col-md-6
      .spacer50
      %h2 #{t('app.signin.title')}
      .spacer25
      =render "devise/sessions/form"
    .col-md-6
      .spacer50
      %h2 #{t('app.signup.title')}
      .spacer25
      =render "devise/registrations/form"