<div style="padding-top: 150px">
  <%= image_tag 'shopelia-logo.png', class: "center" %>
  <div class="spacer30"></div>
  <p id="promise"  class="text-center">Bénéficiez de réductions <b>immédiates</b> exclusives !</p>
  <div style="height: 150px;padding-top: 80px">
      <form accept-charset="UTF-8" id="shopelia-form">
        <div class="row-fluid">
          <div class="span7 offset1">
              <input rel="popover" id="product-bar" autofocus="true" type="text" class="input-block-level" placeholder= "Saisissez le lien du produit que vous souhaitez commander" name="url">
          </div>
          <button id="btn-order" class="btn span3">Voir la réduction</button>
        </div>
      </form>
  </div>

  <div>
  </div>
</div>
<div class="span6 offset3 text-center">
    <table id="merchant-table">
      <tr>
        <td>Marchands éligibles : </td>
        <td>
          <%= link_to image_tag('amazon-logo.png'), "http://amazon.fr", target: "_blank", class:"merchant-logo",:'data-toggle' => "tooltip",'data-original-title'=>"Tooltip on right" %>
        </td>
      </tr>
    </table>
</div>


<link href="https://www.shopelia.com/sdk/shopelia.css" media="screen" rel="stylesheet" type="text/css" />
<script src="https://www.shopelia.com/sdk/shopelia.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#shopelia-form").submit(function(e) {
        e.preventDefault();
        var url = $("[name='url']").val();
        if(url){
            $(this).attr("data-shopelia-url",url);
            ShopeliaCheckout.sendUrls($(this),{type: "click"});
            ShopeliaCheckout.getProduct($(this));
        }

    });
</script>



