.container
  .row.cgu
    .col-md-6.col-md-offset-3
      .spacer40
      %h3
        Mentions légales 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Le présent site est édité par la société PRIXING, Société par Actions Simplifiée au capital de 291.676,00 Euros, dont le siège social est situé 21, rue d’Aboukir - 75002 PARIS. Elle peut être contactée par téléphone au numéro suivant 01.82.09.15.44 et/ou à son adresse électronique : contact@shopelia.fr
      %p.p3
        %span.s1 La société PRIXING est immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro B 529 991 119. Le directeur de la publication est Monsieur Eric LARCHEVÊQUE en sa qualité de Président de la société PRIXING.
      %p.p3
        %span.s1 Le site est hébergé auprès d'OVH, dont le siège social est situé au 140 Quai du Sartel – 59100 Roubaix – France, immatriculée au RCS de Roubaix – Tourcoing sous le numéro SIRET 424 761 419 00011.
      .spacer40
