.container
  .row.cgu
    .col-md-6.col-md-offset-3
      .spacer40
      %h3
        La sécurité est notre priorité n°1.
      %p.p2
        %span.s1
        %br/
      %p

      %p
        %b Environnement sécurisé
      %p
        L'intégralité du processus de commande avec Shopelia est sécurisée via un protocole HTTPS ; ainsi toutes les informations liées
        \à votre compte nous sont envoyées de manière cryptée.
      %p
        %b Accès protégé
      %p
        Votre compte Shopelia est protégé par une combinaison e-mail et mot de passe que vous avez choisi ; vous êtes ainsi la seule personne à
        pouvoir y accéder.
      %p
        %b Sécurisation par cryptage S.S.L
      %p
        Le serveur monétique de la plateforme de paiement de Mangopay fait l'objet d'une sécurisation par cryptage S.S.L. (Secure Socket Layer) de
        manière à protéger le plus efficacement possible toutes les données liées aux moyens de paiement. Vos données bancaires ne
        transitent à aucun moment sur le système informatique de la société Shopelia.
      %p
        %b Stockage contrôlé
      %p
        Le stockage de vos informations de carte bancaire est assuré par Payline, organisme agréé PCI DSS auprès de la banque de France.