<div class="blurred-background-picture height-60 relative-block">
  <div class="stick-to-bottom">
    <div class="row-container">
      <div class="float-left iphone-top">
        <%= image_tag("flink/iphone_top.png", :alt => "Flink") %>
      </div>
      <div class="red">
        <div class="text-aligned-center">
          <%= image_tag("common/logo.png", :alt => "Flink") %>
        </div>
        <div class="text-aligned-center">
          <span class="large-title">Discover, get inspired and share trendy<br/>street style looks from top fashion bloggers.</span>
        </div>
        <div class="text-aligned-center">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="white height-40">
  <div class="row-container">
    <div class="float-left">
      <%= image_tag("flink/iphone_bottom.png", :alt => "Flink") %>
    </div>
    <div class="blue">
      fwefwe
    </div>
  </div>
</div>