<% if current_user %>
  <div class="btn-group">
    <button class="btn btn-info"><i class="icon-user icon-white"></i> <%= current_user.name %></button>
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#">Account info</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Addresses</a></li>
      <li><a href="#">Payment cards</a></li>
      <li class="divider"></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
<% else %>
  <%= link_to "Sign in", new_user_session_path, class:'btn btn-success' %>
<% end %>
