%header.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to(image_tag("logo-brand.png", class:"logo-navbar"), "/", class:"navbar-brand")
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if locale == :fr
          -if current_user
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to t("app.signout.submit"), destroy_user_session_path, method:"delete"
          -else
            -#%a.btn.btn-default.navbar-btn{href:"#{connect_path}"}= t("app.signin.submit")
        - else
          %a.btn.btn-default.navbar-btn{href:"http://support.shopelia.com/hc/requests/new"}= "Contact Us"

      %ul.nav.navbar-nav.navbar-right.sections
        %li#nav-how
          -#%a{href: "#"}= t("home.how")
        %li#nav-faq
          -#%a{href: "#"}= t("home.faq")
        %li#nav-contact
          -#%a{href: "#"}= t("home.contact")