%section.header
  %header
    %h1 Viking
    %h2 Status & performance

.container-fluid
  .row-fluid
    .span4{style:"min-width: 450px;max-width: 450px;"}
      %article.coolbox
        %h3 Global success rate
        %input.successKnob{value:"#{sprintf("%.2f", @performance)}"}
    - @merchant_stats.each do |s|
      .span2{style:"min-width: 210px;max-width: 210px;"}
        %article.coolbox
          %h3
            = s[:name]
          %input.merchantKnob{value:"#{sprintf("%.2f", s[:rate])}"}
  .row-fluid
    .span12
      %article.coolbox
        %h3 Failures list
        %table.table.table-striped#incidents{data:{source:"#{admin_viking_index_url(format: 'json')}"}}
          %thead
            %tr
              %th
                Product URL
              %th
                Product ID
              %th
                Missing data
              %th{width:150}
                Date
              %th{width:220}
                &nbsp;
          %tbody


