<!--Header Bar-->
<tr>
  <td height="20">
    &nbsp;
  </td>
</tr>
<tr>
  <td valign="top" align="center">
    <table width="600" border="0" height="100" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="table600">
      <tr>
        <td align="left" width="20">
          &nbsp;
        </td>
        <td align="right" valign="center" width="550">
          <%= image_tag("emails/logo-brand.png", width:"200") %>
        </td>
        <td align="right" valign="top" width="50">
          <%= image_tag("emails/fold_top_right.jpg", width:15, height:27, class:"top_fold") %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--End Header Bar-->
