<tr>
  <td height="25"></td>
</tr>
<tr>
  <td height="20" bgcolor="#333333"></td>
</tr>
<tr>
  <td bgcolor="#58595b">
    <table class="table600" bgcolor="#414142" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="top" height="30"></td>
            </tr>
            <!--info-->
            <tr>
              <td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:12px; color:#ecf0f1; line-height:22px;">
                Contactez-nous par mail sur <a href="mailto:support@shopelia.com" style="color:#ffffff; text-decoration: none; font-weight: bold;">support@shopelia.com</a><br>ou par téléphone au 01 82 09 15 44<br>
                <span style="font-family: Helvetica, Arial, sans-serif; font-size:11px; color:#999999;">&copy; Shopelia <%= Time.now.year %> RCS 529991119 - SAS au capital de 291 676€</span>
              </td>
            </tr>
            <!--End info-->
            <tr>
              <td align="center" valign="top" height="20"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
