<article class="coolbox">
  <h3>En ce jour de grâce</h3>
  <div class="dataTables_wrapper form-inline" role="grid">
    <%= render partial:'table', locals:{collection:@statistics_for_day, table_id:'statistics-for-day'}%>
  </div>
</article>

<article class="coolbox">
  <h3>Depuis le 1/02/2014</h3>
  <div class="dataTables_wrapper form-inline" role="grid">
    <%= render partial:'table', locals:{collection:@statistics, table_id:'statistics'}%>
  </div>
</article>

