@import "bootstrap";
@import "bootstrap-responsive";
@import "dataTables/jquery.dataTables.bootstrap";
@import "../jquery-ui-1.10.3.custom.min.css.scss";
@import "morris";

body {
  background-color: #f6f6f6;
}

.table-form {
  margin: 0 0 0;
}

.row-50 {
  min-height: 50px;
  height: 50px;
}

.alert {
  margin: 30px;
}

.display-none {
  display: none;
}

section.header header {
  background-color: #3d3d45;
  background-image: -webkit-linear-gradient(#3d3d45, #29292f);
  background-image: -moz-linear-gradient(#3d3d45, #29292f);
  background-image: -ms-linear-gradient(#3d3d45, #29292f);
  background-image: -o-linear-gradient(#3d3d45, #29292f);
  background: linear-gradient(#3d3d45, #29292f);
  padding: 40px 30px;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 0 30px rgba(0,0,0,0.075);
}

section.header header h1 {
  color: #fff;
  overflow: hidden;
  font-size: 60px;
  line-height: 60px;
  margin: 0 0 10px 0;
}
section.header header h2 {
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  color: #c5c5c5;
}
.coolbox {
  position: relative;
  margin-top: 30px;
  margin-left: 15px;
  padding: 39px 19px 14px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -ms-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.coolbox h3 {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  -ms-border-radius: 4px 0 4px 0;
  -o-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  line-height: 20px;
  color: #9da0a4;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}
.coolbox h4 {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  -ms-border-radius: 4px 0 4px 0;
  -o-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  line-height: 20px;
  color: #9da0a4;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

.dataTables_info {
  margin-left: 30px;
}
.dataTables_length {
  margin-left: 30px;
}

.stat-boxes {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
  padding: 0;
}
.stat-boxes li {
  background-color: #F6F6F6;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
  background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: -moz-linear-gradient(top, #F9F9F9 0%, #edebf4 100%);
  background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: linear-gradient(top, #F9F9F9 0%, #edebf4 100%);
  border: 1px solid #d5d5d5;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
}
.stat-boxes li:hover {
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FCFCFC), to(#F1F1F1));
  background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
  background-image: -moz-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
  background-image: -ms-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
  background-image: -o-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
  background-image: linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
}
.stat-boxes .left, .stat-boxes .right {
  text-shadow: 0 1px 0 #ffffff;
  float: left;
}
.stat-boxes .left {
  border-right: 1px solid #DCDCDC;
  box-shadow: 1px 0 0 0 #FFFFFF;
  margin-right: 12px;
  padding: 10px 14px 6px 4px;
  font-size: 10px;
  font-weight: bold;
}
.stat-boxes .left span {
  margin-bottom: 5px;
}
.stat-boxes .right {
  font-size: 12px;
  text-align: center;
  width: 100px;
  color: #666666;
}
.stat-boxes .left span, .stat-boxes .right strong {
  display: block;
}
.stat-boxes .right strong {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 3px;
  margin-top: 6px;
}
.stat-boxes .sparkline_bar_good, .stat-boxes .sparkline_line_good  {
  color: #459D1C;
}
.stat-boxes .sparkline_bar_neutral, .stat-boxes .sparkline_line_neutral  {
  color: #757575;
}
.stat-boxes .sparkline_bar_bad, .stat-boxes .sparkline_line_bad  {
  color: #BA1E20;
}
.popover .content-big {
  font-size: 14px;
  font-weight: bold;
}
.popover .content-small {
  font-size: 11px;
  color: #777777;
}
.popover-data-content {
  display: none;
}

.percentage {
  font-size: 12px;
  font-weight: bold;
  float: right;
}
.huge {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 3px;
  margin-top: 6px;
}

.numberbox {
  display: inline-block;
  line-height: 18px;
  margin: 10px;
  padding: 10px;
}
.numberbox .number {
  font-size: 62px;
  line-height: 64px;
  margin-bottom: 3px;
  margin-top: 6px;
}
.rate {
  font-size: 10px;
  color: #787cd8
}

.product, .product-img {
  position:relative;
  z-index:2;
}
.product-img {
  max-width:150px;
  max-height:150px;
  display: block;
  margin: 0 auto;
}
.product {
  background: #fff;
  min-width:150px;
  min-height:150px;
  width:150px;
  height:150px;
  margin:auto;
}
.product-title, .product-price, .product-spinner {
  position:absolute;
  z-index:3;
}
.product-title {
  color:#222;
  font-size:1em;
  font-weight:400;
  bottom:0px;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.product-price{
  color:#e74c3c;
  font-size:1em;
  font-weight:700;
  font-family:'helvetica neue';
  right:15px;
  top:12px;
}
.product-spinner {
  background:rgba(255,255,255,.85);
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}
.product .spinner {
  top: 5px;
  left: 15px;
}

.action-buttons {
  position: absolute;
  right: 30px;
  top: 75px;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


/*CSS Spinner*/

#followingBallsG{
position:relative;
width:256px;
height:20px;
}

.followingBallsG{
background-color:#000000;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-moz-border-radius:10px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_followingBallsG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.13s;
-webkit-animation-delay:0.13s;
-o-animation-delay:0.13s;
animation-delay:0.13s;
}

#followingBallsG_3{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#followingBallsG_4{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

//.navbar .nav > li > a{
// font-size:1.1vw;
// padding:4px 6px;
//}
.navbar-fixed-top, .navbar-fixed-bottom{
  position:relative;
  margin-top:-40px;
}
ul.nav{
  padding:16px;
  border-left:thin solid #4F4F4F;
  border-radius:2px;
  height:90px;
  font-family:'Palatino';
}
ul.nav > li{
  display:block;
  float:none !important;
}
ul.nav > li a{
  padding:0px !important;
}
section.header header{
  background-color:#1b1b1b;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#030303));
}
section.header header h1{
  font-size:50px;
}




