@import "bootstrap";
@import "bootstrap-responsive";
@import "dataTables/jquery.dataTables.bootstrap";

.top {
  margin-top: 50px;
}

.table-form {
  margin: 0 0 0;
}

.row-50 {
  min-height: 50px;
  height: 50px;
}

