body{
  background:#edf0f2;
}
div.blogs{
  margin:5%;
}
.blogs div{
  padding:30px 10px;
  border-bottom: 1px solid #ddd;
}
.blogs div:last-child{
  border-bottom: none;
}
.blogs select{
  height:20px;
  font-family: Georgia, sans-serif;
  margin: 4px 0px 0px 0;
}
.blogs label, .blog-post label{
  float:left;
  margin: 4px 2px 5px 0;
  width:30%;
  font-weight:bold;
}
.blogs input[type=text]{
  width:40%;
  display:block;
  font-family: Georgia, sans-serif;
}
.blogs ::-webkit-input-placeholder {
  font-style:italic;
}
.blogs input[type=submit]{
  font-size:14px;
  margin-top:60px;
}
.blogs input[type=file]{
  display:block;
  margin-top:20px;
}
.blogs p.help{
  font-style:italic;
  font-size:12px; 
  color:gray;
}
.blogs img.avatar{
  width:60px;
}
.blogs img.heart-overlay{
  width:0px;
  position:absolute;
}

@-webkit-keyframes heartbeat {
  0% {
    width:0px;
    opacity:0.8;
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    width:100px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  55% {
    width:90px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    width:100px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    width:90px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  70% {
    width:100px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  100%{
    width:0px;
    opacity:0.8;
    -webkit-animation-timing-function: ease-out;
  }
}
.blogs img.heart-overlay-show{
  z-index:100;
  -webkit-animation: heartbeat 2s;
}

.blogs_without_posts li span{
  padding:2px;
}
.blogs_without_posts li span a{
  font-style:italic;
  font-size:12px;
}
.blogs_without_posts li span:first-child{
  color:#e44eaf;
}


/*Blog posts*/

.posts-outline{
  max-height:180px;
  overflow-y:auto;
}
.blog-posts-avatar{
  max-width:100px;
  box-shadow: 1px 1px 1px #aaa;
  border-radius:2px;
}
.blogs-posts-header{
  width: 200px;
  margin:5%;
}
.blogs-posts-header p:first-child{
  font-family:Georgia;
  letter-spacing:1px;
}
.blogs-posts-header a{
  font-size:11px;
  font-style:italic;
  display:block;
  margin-top:5px;
}
.back-link{
  float:left;
  margin:10px;
  color:#e44eaf;
}
.back-link:before{
  content:"< ";
}
.blog-post{
  margin:5%;
}
.blog-post h5{
  border-bottom: 1px solid #ddd;
  margin:20px 0;
}
.blog-post a{
  font-size:12px;
}
.blog-post .product-name{
  color:#e44eaf;
  font-style:italic;
}
.fetch-post-link{
  float:right;
  margin:10px;
}