@-webkit-keyframes heartbeat {
  0% {
    width:0px;
    opacity:0.8;
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    width:100px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  55% {
    width:90px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    width:100px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    width:90px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  70% {
    width:100px;
    opacity:1;
    -webkit-animation-timing-function: ease-in;
  }
  100%{
    width:0px;
    opacity:0.8;
    -webkit-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes blogs-table {
  0% {
    opacity:0;
  }
  100%{
    opacity:1;
    -webkit-animation-timing-function: ease-out;
  }
}
body{
  background:#edf0f2;
}
div.blogs{
  margin:5%;
}
.blogs div{
  padding:30px 10px;
  border-bottom: 1px solid #ddd;
}
.blogs div:last-child{
  border-bottom: none;
}
.blogs select{
  height:20px;
  font-family: Georgia, sans-serif;
  margin: 4px 0px 0px 0;
}
.blogs label, .blog-post label{
  float:left;
  margin: 4px 2px 5px 0;
  width:30%;
  font-weight:bold;
}
.blogs p.help{
  font-style:italic;
  font-size:12px; 
  color:gray;
}
.blogs img.avatar{
  width:60px;
  box-shadow: 1px 1px 1px #aaa;
  border-radius:2px;
}
.blogs img.heart-overlay{
  width:0px;
  position:absolute;
}
.blogs-table{
  -webkit-animation: blogs-table 1.5s;
}
.blogs-table tr td{
  padding:10px;
}
.blogs-table .name{
  font-weight:bold;
  font-family:Times;
}
.blogs-table a{
  font-size:12px;
}
.blogs-table tr{
  border-bottom:1px solid lightgray;
}
.blogs-table tr:last-child{
  border-bottom:none;
}
.blogs-table tr td span.tag{
  width:30px;
  height:30px;
  border-radius:30px;
  display:inline-block;
  font-family:Georgia;
  text-align:center;
  color:white;
}
.blogs-table tr td span.tag i{
  font-style:normal;
  margin-top:5px;
  display:inline-block;
}
.blogs-table tr td span.posts-count-tag{
  background-color:#4C5C99;
}
.blogs-table tr td span.looks-count-tag{
  background-color:#FF72C7;
}
.blogs img.heart-overlay-show{
  z-index:100;
  -webkit-animation: heartbeat 2s;
}
.blogs_without_posts li span{
  padding:2px;
}
.blogs_without_posts li span a{
  font-style:italic;
  font-size:12px;
}
.blogs_without_posts li span:first-child{
  color:#e44eaf;
}
.blogs input[type=text]{
  width:300px;
  display:block;
  font-family: Georgia, sans-serif;
}
.blogs ::-webkit-input-placeholder {
  font-style:italic;
}
.blogs .create-blog-block-hidden{
  display: block;
  transition: height 1s ease-out, opacity 1s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;
}
.blogs .create-blog-block-shown{
  height:200px;
  display:block;
  opacity:1;
}
.blogs #create-blog-link{
  float:right;
  font-size:10px;
}
.blogs .rounded-btn{
  border-radius:40px;
  padding:4px;
  width:30px;
}
.blogs #name-filer-pattern{
  margin-top:60px;
}
.blogs button#name-filter{
  margin:48px 0 0 10px;
}
.blogs div.radio-filters{
  border-bottom:none;
}
.blogs .radio-filters span{
  font-size:12px;
  padding:1px;
  font-family:Georgia;
}
.blogs .radio-filters input[type=radio]{
  margin:-2px 5px 0 5px;
}
.blogs .can-comment{
  padding:5px;
  font-family: Georgia, sans-serif;
  background:#2a7936;
  border-radius:2px;
}

/*Pagination links*/

.pagination {
  text-align: center;
  padding: 1em;
  cursor: default; 
}
.pagination a, .pagination span {
  padding: 0.2em 0.3em; 
}
.pagination .disabled {
  color: #aaaaaa; 
}
.pagination .current {
  font-style: normal;
  background-color: #e44eaf;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.pagination a {
  text-decoration: none;
  color: black; 
}
.pagination a:hover, .pagination a:focus {
  text-decoration: none; 
}

/*Blog posts*/

.posts-outline{
  max-height:180px;
  overflow-y:auto;
}
.blog-posts-avatar{
  max-width:100px;
  box-shadow: 1px 1px 1px #aaa;
  border-radius:2px;
}
.blogs-posts-header{
  width: 33%;
  margin:5%;
}
.blogs-posts-header p:first-child{
  font-family:Georgia;
  letter-spacing:1px;
}
.blogs-posts-header a{
  font-size:11px;
  font-style:italic;
  display:block;
  margin-top:5px;
}
.back-link{
  float:left;
  margin:10px;
  color:#e44eaf;
}
.back-link:before{
  content:"< ";
}
.blog-post{
  margin:5%;
  font-family:Georgia;
}
.blog-post h5{
  border-bottom: 1px solid #ddd;
  margin:20px 0;
}
.blog-post a{
  font-size:12px;
}
.blog-post .product-name{
  color:#e44eaf;
  font-style:italic;
}
.fetch-post-link{
  float:right;
  margin:10px;
}
.blogs-posts-header .update-blog-block-hidden{
  display: block;
  transition: height 1s ease-out, opacity 1s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;
}
.blogs-posts-header .update-blog-block-shown{
  height:200px;
  display:block;
  opacity:1;
}
.blogs-posts-header form{
  margin-top:20px;
  padding:5px;
  background-color:#FFD3D7;
  border-radius:5px;
}
.blogs-posts-header form input[type="submit"]{
  display:block;
  margin-top:60px;
}
.blogs-posts-header form input[type="text"]{
  width:90%;
  font-size:10px;
}
.blogs-posts-header form label{
  color:#646E99;
  font-size:12px;
  font-family: Georgia;
}
.blog-post span.tag{
  display:inline-block;
  border-radius:16px;
  width:16px;
  height:16px;
  color:white;
  padding:3px;
  text-align:center;
  font-family: Georgia;
}
.blog-post span.has-look-tag-true{
  background-color:#FF74B8;
}
.blog-post span.has-look-tag-false,
.blog-post span.has-look-published-tag-false{
  background-color:#A6A6A6;
}
.blog-post span.has-look-published-tag-true{
  background-color:#FF17EA;
}