.collection-header-title {
  position: absolute;
  left: 500px;
  top: 80px;
}
.collection-title {
  color: #eee;
  font-size: 3.5em;
  font-weight: 700;
  text-align: left;
}
.collection-item-box {
  cursor: pointer;
}
.collection-item-box, .collection-item, .collection-item-img {
  position: relative;
  z-index:2;
}
.collection-item-img {
  max-height: 90%;  
  max-width: 90%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}
.collection-item, .collection-item-box {
  background-color: #fff;
  width: 100%;
  height: 200px;
  margin: 25px 0px 0px 0px;
}
.collection-item {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.collection-item:hover {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.collection-item-price {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size:1.8em;
  right:0px;
  top:0px;
  padding: 5px 20px 5px 20px;
  background-color: #00A185;
}
.collection-item-spinner {
  position:absolute;
  background:rgba(255,255,255,.85);
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}
.collection-item .spinner {
  top: 15px;
  left: 15px;
}

.catalogue-box {
  cursor: pointer;
  overflow: hidden;
}
.catalogue-box, .catalogue, .catalogue-img {
  position: relative;
  z-index:2;
}
.catalogue-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  padding-top: 5px;
}
.catalogue, .catalogue-box {
  background-color: #fff;
  max-width: 100%;
  max-height: 250px;
  width: 100%;
  height: 250px;
  margin: 10px 0px 0px 0px;
}
.catalogue-price {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size:1.8em;
  right:0px;
  top:0px;
  padding: 2px 5px 0px 5px;
  background-color: #00A185;
}
.catalogue-name {
  position:absolute;
  z-index:3;
  color: #000;
  font-size:0.9em;
  width: 100%;
  height: 75px;
  overflow: hidden;
  left:0px;
  bottom: 0px;
  padding: 5px;
  background-color: rgba(255,255,255,.85);
}
.catalogue-merchant {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size: 1.0em;
  height: 28px;
  left:0px;
  top: 0px;
  padding: 5px;
  background-color: #f89406;
  opacity: 0;
}
.catalogue-box:hover .catalogue-merchant {
  opacity: 1;
}

#catalogue-search {
  width: 100%;
  padding: 5px;
}
#catalogue-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #eee;
}
#tags_category, #tags_merchant {
  text-align: left;
}

#catalogue-previous-page {
}
#catalogue-next-page {
}