/*Reply*/
div#reply{
  margin-top:60px;
  float:right;
  width:500px;
  padding:20px;
  background:#FFF;
  border-radius:3px;
  border:thin solid #A8A8A8;
  z-index:100;
  display:none;
}
div#reply textarea{
  width:400px;
  height:60px;
}
span#close-reply{
  float:right;
  color:#5681FF;
  font-size:20px;
  cursor:pointer;
}
/*Top five table*/
table.comments-top-five{
  background:#992E7D;
  color:white;
  font-family:'Hevetica Neue';
  font-size:14px;
  opacity:0.9;
  width:20%;
  display:inline-block;
  position:absolute;
  top:60px;
  left:2px;
  border-radius:10px;
  transition:opacity .2s ease-in-out;
}
table.comments-top-five:hover{
  opacity:1;
}
table.comments-top-five img.avatar{
  width:40px;
  border-radius:30px;
}
table.comments-top-five a{
  color:white;
  text-decoration:underline;
}
table.comments-top-five thead th{
  font-size:22px;
  padding:50px;
}
table.comments-top-five tr td{
  padding:10px;
}
table.comments-top-five tr {
  border-bottom:thin solid #FFF;
}
table.comments-top-five tr:last-child {
  border-bottom:none;
}

/*Comments list*/

table.comments-list{
  font-family:'Palatino';
  font-size:14px;
  width:75%;
  position:absolute;
  right:10px;
  top:140px;
}
table.comments-list th{
  color:black;
  text-align:left;
}
table thead p.comment-total-count{
  padding:2px;
}
table thead p.comment-posted-count{
  padding:2px;
}
table.comments-list tbody{
}
table.comments-list tbody tr td{
  padding:5px;
  text-align:left;
  border:thin solid #992E7D;  
}
table.comments-list tbody tr{
  color:#858585;
}
table.comments-list tbody tr td:first-child{
  color:#B94681;
}

