/* ...
*= require_self
*= require admin/jquery.Jcrop.min.css
*/

.navbar{
  display:none;
}
.image-container{
  display:inline-block;
  margin:10px;
}
.crop-form{
  position:fixed;
  top:10px;
  right:10px;
  padding:10px;
  width:300px;
  background:#9D9D9D;
  opacity:0.8;
  border:thin solid #BEBEBE;
  border-radius:5px;
  z-index:3000;
}
label{
  color:#1E206A;
  font-size:16px;
  font-family:'Hevetica';
  font-weight:bold;
}
input[type=submit]{
  margin-top:100px;
}
