.thumb {
  max-height: 200px;
  max-width: 200px;
}

.img-block {
  display: inline-block;
  height: 200px;
  width: 200px;
  position: relative;
}
.img-delete {
  position:absolute;
  right:5px;
  bottom:5px;
  font-size:28px;
}
.img-delete a {
  color: #991746;
}
.img-delete a:hover {
  text-decoration: none;
}
.ui-autocomplete{
  z-index:2000;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.img-block{
  border:thin solid gray;
  height:260px;
  width:200px;
  padding:10px;
  margin:5px;
  vertical-align:top;
}
.img-sizes{
  font-size:12px;
  font-family:'Hevetica';
}
.img-tools{
  position:absolute;
  bottom:5px;
  left:5px;
}
#reinitialize-images{
  position:absolute;
  font-family:'Hevetica';
  font-size:13px;
  top:10px;
  left:360px;
  padding:6px;
  background:#474747;
  border-radius:2px;
  color:snow;
}
#publish-look{
  position:absolute;
  top:10px;
  left:5px;
  font-family:'Hevetica';
  font-size:13px;
  padding:6px;
  background:#629651;
  border-radius:2px;
  color:snow;
}
#reject-look{
  position:absolute;
  top:10px;
  left:120px;
  font-family:'Hevetica';
  font-size:13px;
  padding:6px;
  background:#96362F;
  border-radius:2px;
  color:snow;
}
#reject-quality-look{
  position:absolute;
  top:10px;
  left:230px;
  font-family:'Hevetica';
  font-size:13px;
  padding:6px;
  background:#2A2A2A;
  border-radius:2px;
  color:snow;
}
div.form{
  font-family:'Hevetica';
  position:absolute;
  top:10px;
  left:550px;
}
div.form #look_staff_pick{
  display:inline-block;
}
div.images{
  margin-top:60px;
}
select.theme-select{
  font-family:'Hevetica';
  position:absolute;
  top:5px;
  right:5px;
}
.highlight{
  background:#FFAED2;
  color:black;
  border-radius:2px;
  padding:0 5px;
}
/*Looks published index*/

section.header table{
  width:80%;
  margin:40px 10% 0 10%;
}
section.header table td{
  border:thin solid #D4D4D4;
  text-align:center;
  font-size:12px;
  padding:5px;
}
section.header tr td:first-child {
  width: 60%;
  padding:10px;
  background:white;
  margin:20px 0 0 0;
  height:200px;
  border:thin solid #D4D4D4;
}
section.header td img {
  margin: 0 auto;
  max-height:200px;
}

/*Pagination links*/

.pagination {
  text-align: center;
  padding: 1em;
  cursor: default; 
}
.pagination a, .pagination span {
  padding: 0.2em 0.3em; 
}
.pagination .disabled {
  color: #aaaaaa; 
}
.pagination .current {
  font-style: normal;
  background-color: #e44eaf;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.pagination a {
  text-decoration: none;
  color: black; 
}
.pagination a:hover, .pagination a:focus {
  text-decoration: none; 
}

/*Hashtags form*/
div.hashtags-block{
  margin:30px 0 0 0;
}
div.hashtags-block form p{
  display:inline-block;
}
div.hashtags-block input.hashtag-destroy-checkbox{
  display:none;
}
div.hashtags-block input.hashtag-highlighted-checkbox{
  margin:-10px 0 0 -20px;
}
div.hashtags-block input.hashtag-input-highlighted-true{
  border:thin solid #667399;
  background:#667399;
  color:white;
  border-radius:0;
}
div.hashtags-block form select{
  font-size:12px;
  font-family:Palatino;
  height:1.8em;
  width:120px;
  display:block;
}
div.hashtags-block label.hashtag-destroy-label{
  color:red;
  font-family:system;
  display:inline-block;
  width:10px;
  height:10px;
  text-align:center;
  padding:2px;
  margin-left:5px;
}
div.hashtags-block label.hashtag-destroy-label:hover{
  color:purple;
}
input[type=text].hashtag-input{
  width:100px;
  height:14px;
  font-size:12px;
  outline:none;
  display:inline-block;
  font-family: Courier;
  border:thin dashed red;
}
div.hashtags-block input[type=submit].hashtag-submit{
  border-radius:50px;
  width:25px;
  height:25px;
  padding:2px;
}
h1.look-name-published-true{
  color:#629651 !important;
}
h1.look-name-published-false{
  color:#96362F !important;
}

/*Products*/

div.look-product{
  border:thin solid #999;
  padding:6px;
  margin:6px auto;
  border-radius:2px;
  position:relative;
}
div.look-product span.code{
  font-size:18px;
  color:#828282;
  font-weight:bold;
}
div.look-product span.brand{
  font-size:20px;
  font-style:italic;
}
.pure-shopping-products.modal{
  min-width:90% !important;
  left:25%;
}
table.pure-shopping-table td{
  border:thin solid #AFAFAF;
  padding:6px;
}
table.pure-shopping-table th{
  border:thin solid #BCBCBC;
  font-weight:normal;
}
table.pure-shopping-table img{
  min-width:160px;
}
table.pure-shopping-table td.description{
  font-size:10px;
}
div.similar-product img{
  width:100px;
}
div.similar-product{
  width:130px;
  padding:6px;
  font-size:12px;
  display:inline-block;
  border:thin solid #B2B2B2;
  border-radius:2px;
  margin:2px auto;
  height:280px;
}
span.similar-product-cancelled{
  font-weight:bold;
  color:#991521;
}
div.similar-product span{
  display:block;
}
div.similar-product span.brand{
  font-size:12px;
}
div.similar-product span.name{
  font-size:10px;
}
div.similar-product span.similar-true{
  color:#789977;
}
div.similar-product span.similar-false{
  color:#5F6099;
}
button.pure-shopping-refresh,
button#ps_filter_button{
  border:none;
  text-decoration:underline;
}
div[id^="pure-shopping-products"]{
  height:70%;
  width:60% !important;
  padding:10px;
  overflow-y:scroll;
}
div.edit-look-product{
  position:absolute;
  top:2px;
  right:2px;
}
div.css-spinner{
  width:50%;
  margin:20px auto;
  display:none;
}
div.similar-product form label{
  display:inline-block;
  font-size:12px;
}
div.similar-product form label:after{
  content:" : ";
}
div.similar-product form input[type=checkbox]{
  display:inline-block;
  margin:-4px 0 0 6px;
}
div.similar-product form{
  background:#E9F4FF;
  padding:4px;
}
div.similar-product a.delete-link{
  color:#B0060C;
}

/*Staff Hashtags popup*/

div.staff-hashtags-popup{
  height:80%;
  width:60%;
  left:30%;
  overflow-y:scroll;
  font-size:12px;
}
span.staff-hashtag{
  padding:10px;
  cursor:pointer;
}
p.staff-hashtags-category{
  margin:10px;
  color:white;
  background:#850C23;
  text-align:center;
}
div.staff-hashtags-block{
  border:thin dashed #CFCFCF;
  margin:10px;
  padding:10px;
  border-radius:2px;
}
div.staff-hashtags-popup h5{
  text-align:center;
  width:50%;
  margin:6px auto -10px auto;
  border:thin dashed #CFCFCF;
  border-bottom:none;
  border-radius:2px;
  color:#636363;
  font-weight:normal;
  background:#F0F0F0;
}
button#staff-hashtags-submit{
  width:200px;
  display:block;
  margin:2px auto;
}