form{
  width:60%;
  margin:100px auto;
}
form input[type="submit"]{
  border:thin solid #698066;
  border-radius:4px;
  padding:10px;
  text-align:center;
  background:none;
}
form input[type="submit"]:hover{
  border:thin solid #1E251D;
}
form input[type="text"]{
  width:80%;
  height:40px;
  margin:10px 0 20px 0;
}
form label{
  font-family:'Palatino';
  font-size:16px;
  color:#990D11;
}
div.send-links{
  width:60%;
  margin:100px auto;
}
div.send-links a{
  display:block;
  width:200px;
  margin:10px 0 0 0;
  border:thin solid #B3B3B3;
  border-radius:4px;
  padding:10px;
  text-align:center;
}