body {
  background: #eee;
}

.wrapper-column {
  width: 90%;
  margin: 0 auto;
}

.column {
  width: 30%;
  display:inline-block;
  padding:10px;
  background:white;
  margin:20px 0 0 0;
  height:auto;
}

.column img {
  margin: 0 auto;
}

.ribbon {
  font-size: 1em;
  width: 100%;
  position: relative;
  background: #E01B6A;
  color: #fff;
  text-align: center;
  padding: .75em .5em;
  margin: -4em 0 0 -.5em;
  font-family: "Helvetica Neau", helvetica;
  font-size:1em;
  display: block;  
  opacity:0.8;
}

.ribbon-content:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 0em 0em .5em .5em;
  border-color: transparent transparent #A3144D;
  top: -.5em;
  left: 0;
}

.ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 0em .5em .5em 0em;
  border-color: transparent transparent #A3144D;
  top: -.5em;
  right: 0;
}