body {
  background: #eee;
}
.wrapper-column {
  width: 90%;
  margin: 0 auto;
}
section.header{
  background:white;
  box-shadow: 1px 1px 0px #BDBDBD; 
}
section.header h4{
  color:#AB100F;
  margin-top:60px;
  font-family:Palatino;
}
div.statistics{
  width:50%;
  margin:10px 0 5px 20px;
  padding:20px;
}
section.header table{
  width:100%;
}
section.header table td{
  border:thin solid #D4D4D4;
  text-align:center;
  font-size:12px;
  padding:5px;
}
.column {
  width: 20%;
  display:inline-block;
  padding:10px;
  background:white;
  margin:20px 0 0 0;
  height:340px;
  vertical-align:top;
  box-shadow:1px 1px 1px #999;
  position:relative;
}
.column a div img {
  margin: 20px auto 2px auto;
  display:block;
  max-height:260px;
  border-radius:2px;
}
.column a div{
  position:relative;
}
.column a div p{
  width:100%;
  padding-top:10px;
  position:absolute;
  bottom:2px;
  height:60px;
  font-family: Lucida;
  background-color:#68995F;
  font-size: 22px;
  line-height:22px;
  background: #FFF;
  opacity:0.3;
  color:black;
  z-index:100;
  text-align:center;
}
.column a div p:hover{
  opacity:0.7;
}
.column button.look-direct-reject{
  position:absolute;
  top:4px;
  right:4px;
  padding:2px;
  background:#96362F;
  border-radius:1px;
}
.column span.look-published-at{
  display:block;
  font-size:10px;
  color:#787878;
  margin-right:5px;
  font-style:italic;
}
.column span.look-username{
  display:block;
  font-size:12px;
  max-width:80%;
  color:#992E7D;
  margin-right:5px;
}
.filters{
  float:right;
  margin:10px 5px 0 0;
  font-size:12px;
  padding:20px;
}
.filters input{
  display:block;
  margin-top:10px;
}
input[type=checkbox].look-reject-checkbox{
  position:absolute;
  top:4px;
  right:40px;
}
#reject-checked-looks{
  margin:10px 0 0 0;
}
