h4{
  color:#AB100F;
  margin-top:60px;
  font-family:Palatino;
}
table{
  display:inline-block;
  vertical-align:top;
  margin:30px 10px;
}
table td{
  border:thin solid #D4D4D4;
  text-align:center;
  font-size:12px;
  padding:10px;
}
table th{
  color:#747474;
  font-family:'Palatino';
  padding:10px;
  background:#F1F1F1;
  border:thin solid #D4D4D4;
 