div.staff-picks{
  font-family:Times;
}
span.items-counter{
  display:inline-block;
  border:1px solid #880F55;
  text-align:center;
  margin:0 0 0 60px;
  padding:4px;
}
ul.anchors{
  border-radius:6px;
  padding:10px;
  background:#EEE;
  position:fixed;
  top :300px;
  right:10px;
  list-style:none;
}
ul.anchors a{
  color:#993769;
}
h4{
  margin:60px 0 0 20px;
  color:#880F55;
  padding:4px;
  border-left:20px solid #710B46;
}
div.block{
  border-left:2px solid #710B46;
  margin:0px 0 10px 10px; 
}
table.staff-picks-looks{
  min-width:80%;
  margin:40px 10px 10px 10px;
}
ul.looks-countries-counts,
ul.flinkers-countries-counts
{
  margin:10px 0 0 20px;
  font-size:16px;
  list-style-type: none;
  color:#880F55;
}
table.staff-picks-looks td{
  border-bottom:thin solid #DEDEDE;
  text-align:left;
  color:#575757;
}
table.staff-picks-looks td a{
  color:#994677;
}
table.staff-picks-looks td input[type=checkbox]{
  margin:20px 20px 0 0;
}
table.staff-picks-looks img{
  display:block;
  margin:5px auto 5px auto;
  max-width:90%;
  max-height:120px;
  border-radius:2px;
}
table.staff-picks-flinkers{
  min-width:40%;
  margin:40px 10px 100px 10px;
}
table.staff-picks-flinkers td{
  border-bottom:thin solid #DEDEDE;
  text-align:left;
  color:#575757;
  padding:10px;
}
table.staff-picks-flinkers td a{
  color:#994677;
}
table.staff-picks-hashtags{
  min-width:40%;
  margin:40px 10px 10px 10px;
}
span.hashtag-name{
  border-radius:2px;
  background:#D47BAA;
  padding:5px;
}
a.look-link{
  color:#575757;
}
table.staff-picks-hashtags td{
  border-bottom:thin solid #DEDEDE;
  text-align:left;
  padding:20px;
}
table.staff-picks-hashtags td ul{
  font-size:11px;
  text-align:left;
  list-style-type: square;
}
table.staff-picks-hashtags ul li{
  display:inline-block;
  padding:5px;
  text-decoration:underline;
}
.avatar{
  width:40px;
  border-radius:20px;
}
