#statistics_wrapper,
#statistics-for-day_wrapper{
  width:90%;
  padding:60px;
}
.dataTable{
  margin-top:60px;
  border:thin solid #FFABEE;
}
table thead th{
  color:#FF6FDE;
  padding:10px;
  margin:10px;
  font-weight:normal !important;
}
.dataTables_paginate a{
  margin:5px;
}
.dataTables_paginate:hover{
  cursor:pointer;
}
.coolbox{
  margin:100px 2%;
  font-family:'Helvetica';
  font-size:12px !important;
}
.dataTables_info{
  font-style:italic;
}
table.tops{
  width:100%;
  display:block;
  max-height:600px;
  overflow-y:auto;
}
table.tops td{
  text-align:center;
  min-width:200px;
}
.avatar{
  width:40px;
  border-radius:20px;
}
.no-avatar{
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:20px;
  background:pink;
}

