%section.header
  %header
    %h1 Posts
    %h2 Building looks
  .filters      
    %select.country-select{}
      =options_for_select(countries_for_select, selected:params[:country_code])
    %input#blog-name-filter{placeholder:"Filtrer par le nom du blog", 'data-blogs-names' => Blog.names }
    %button#reject-checked-looks{class:'btn btn-danger'}="Rejeter les looks selectionnés"
    
  %div.statistics  
    %h4="Publications : #{ Look.published.count }"
    %hr 
    %table 
      %thead
        %th Date
        %th Nombre de looks publiés
      - @publications.each do |hash|
        %tr
          %td=I18n.l(Date.parse(hash['flink_published_at']))
          %td=hash['count']
    
.wrapper-column
  = render @posts
