%section.header
  %header
    %h1 Posts
    %h2 Building looks
  %span.total-looks
    %i=Look.published.count
    %i Looks publiés
  %table 
    %thead
      %th Date
      %th Nombre de looks publiés
    - @publications.each do |hash|
      %tr
        %td=I18n.l(Date.parse(hash['updated_at']))
        %td=hash['count']
  %select.country-select{}
    =options_for_select(countries_for_select, selected:params[:country_code])
  %input#blog-name-filter{placeholder:"Filtrer par le nom du blog", 'data-blogs-names' => Blog.names }
    
.wrapper-column
  = render @posts
