%section.header
  %header
    %h1 Posts
    %h2 Building looks
  %span.total-looks
    %i=Look.published.count
    %i Looks publiés
  .filters      
    %select.country-select{}
      =options_for_select(countries_for_select, selected:params[:country_code])
    %input#blog-name-filter{placeholder:"Filtrer par le nom du blog", 'data-blogs-names' => Blog.names }
  %table 
    %thead
      %th Date
      %th Nombre de looks publiés
    - @publications.each do |hash|
      %tr
        %td=I18n.l(Date.parse(hash['is_published_updated_at'])) if hash.has_key?('is_published_updated_at')
        %td=hash['count']
    
.wrapper-column
  = render @posts
