%section.header
  %header
    %h1 Flinkers
    %h2 Fashionistas

.container-fluid
  .row-fluid
    .span2
      %article.coolbox
        %h3 Filters
        %select.input-medium.filter-option#publisherFilter
          %option{value:''} Publishing rights
          %option{value:'yes'} Yes
          %option{value:'no'} No
        %select.input-medium.filter-option#staff-pick-filter
          %option{value:''} Staff Pick
          %option{value:'yes'} Yes
          %option{value:'no'} No
        %select.country-select.input-medium.filter-option#country-filter
          =options_for_select(countries_for_select, selected:params[:country_code])
        %select.input-medium.filter-option#universal-filter
          %option{value:''} Universelle
          %option{value:'yes'} Yes
          %option{value:'no'} No
        
    .span10
      %article.coolbox
        %h3 Flinkers list
        %table.table.table-striped#flinkers{data:{source:"#{admin_flinkers_url(format: 'json')}"}}
          %thead
            %tr
              %th Avatar
              %th Username
              %th Name
              %th Email
              %th Looks
              %th Followers
              %th Likes
              %th URL
              %th Publisher
              %th Staff pick
              %th
          %tbody


#confirmModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3 Warning !
  .modal-body
    %p
      Do you really want to destroy the flinker
      %strong
        %span#confirmModelUsername
      ?
  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    %a#confirmDestruction.btn.btn-danger{href: "#"} Confirm destruction          