<p class="total-flinkers">
  <span id="total-flinkers"></span>
  <span>Flinkers</span>
</p>

<%= image_tag 'flink/diamond.png', class:'logo-flink' %>
<canvas id='flinkers-planet' width='1000' height='1000'></canvas>
<p id="flinkers-coordinates" data-flinkers-coordinates="<%= @coordinates %>">  