@import "collection_builder.css.scss";
@import "variables.css.scss";

html, body { height: 100%; }

body {
  width: 100%;
  min-width: 1200px;
  padding: 0;
  margin: 0;
}

#chatroom {
  position: absolute; top: 50px; width:100%;
  border: 1px solid #d3d3d3;
  min-height: 100%;
  width: 100%;
  min-width: 1200px;
}

#chatroom > .row >[class*="span"] {
  margin-left:0 ;
}

#chat-user:after{
  clear: both;
  content: "";
  display: block;
}

#chat-list-users,#chat-user,#chat-feature{
  float: left;
}

#chat-list-users {
  width: 12%;
  height: 100%;
  a {
    text-decoration: none;
    color: #000000;
  }

}

#chat-list-users-header,#chat-list-history-header {
  padding: 14px 24px;
  border: 1px solid #d3d3d3;
  background: darken(#fff,5%);
}

#chat-user {
  width: 25%;
}

#chat-feature{
  padding: 40px;
  width: 55%;
  height: 100%;
}

.user-row {
  cursor: pointer;
  padding: 14px 24px;
  border: 1px solid #d3d3d3;
  border-top: none;
  background: #fff;
  &:last {
    border-bottom: 1px solid #d3d3d3;
  }

}

.user-row:hover {
  color: #fff;
  background: #293239;
}

.user-row-select {
  color: #fff;
  background: #293239;
}

//MESSAGES

@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

a { text-decoration: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h4, h5 {
  line-height: 1.5em;
  margin: 0;
}

hr {
  background: #e9e9e9;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  margin: 0;
  min-height: 1px;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

input {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
  font-size: 12px;
  width: 100%;
  height: 100% ;
}

#live-chat header {
  background: #293239;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 12px;
}

#live-chat h5 {
  font-size: 10px;
}

#live-chat form {
  padding: 24px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}


#message_form > textarea {
  width: 100%;
}

.chat {
  background: #fff;
}

.chat-history {
  height: 400px;
  overflow-y: scroll;
}

.chat-message {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  background: #fff;
}

.admin {
  background: darken(#fff,5%) ;
}

.chat-message img {
  border-radius: 50%;
  float: left;
}

.chat-message-content {
  margin-left: 56px;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic;
  margin: 0 0 0 80px;
}

//Colors

$green: #3cc8ad;
$darkGreen: #00A185;
$lightGrey: #f8f8f8;
$grey: #798288;
$lightBlue: #00bbff;
$blue: #0181a6;
$darkBlue: #021037;
$red: #e74c3c;

//Buttons

// variables
$button-font-family: sans-serif;
$button-font-size: 12px;
$button-line-height: 1.2em;
$button-font-weight: 400;
$button-letter-spacing: 1px;

$button-border-radius: 3px;
$button-padding: 15px 20px;
$button-margin: 0;



$button-flat-empty-border-width: 2px;


// prototype mixin
@mixin button-proto($bg, $text) {
  position: relative;
  display: inline-block;
  padding: $button-padding;
  margin: $button-margin;

  border-radius: $button-border-radius;

  font-family: $button-font-family;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  text-decoration: none;

  background: $bg;
  color: $text;
}

// flat button
@mixin button-flat-simple($bg, $text) {
  @include button-proto($bg, $text);

  &:hover {
    background: lighten($bg, 5%);
  }

  &:active {
    background: darken($bg, 5%);
  }
}



// flat empty button
@mixin button-flat-empty($bg, $text) {
  @include button-proto($bg, $text);
  background: none;
  border: $button-flat-empty-border-width solid $bg;

  &:hover {
    background: $bg;
    color: white;
  }
}

// flat inverse empty button
@mixin button-flat-empty-inverse($bg, $text) {
  @include button-proto($bg, $text);
  border: $button-flat-empty-border-width solid $bg;

  &:hover {
    background: none;
    color: $bg;
  }
}


// demo page
$color: #707070;

.flat a {
  text-transform: uppercase;
}

.button-flat-empty {
  @include button-flat-empty($color, $color);
}

.button-flat-empty-inverse {
  @include button-flat-empty-inverse($color, white);
}

.button-flat-empty-inverse-success {
  @include button-flat-empty-inverse($darkGreen, white);
}


#gift-card-button {
  cursor: hand;
}


//Spacers


.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
