<div class="themes-content">
  <%= link_to 'Nouvelle collection', '/admin/themes', method:'post', id:"create-theme-link" %>

  <div>
    <%= render partial:'theme', collection:@themes.published(true) %>
  </div>
  
  <div>
    <%= render partial:'theme', collection:@themes.published(false) %>
  </div>
  
  <div class="overlay"></div>
  <div class="theme-edit-overlay">
  </div>
  <div class="theme-looks-images-overlay">
  </div>
  
</div>
