@import "common/base.css.less";

// default tags
body {
  background-color: @color-white;
}
.container {
  height: auto;
  background-color: @color-background;
  padding: @metric-mobile-padding;
}

// buttons
.rounded-button (@color: @color-black) {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: @color;
  color: @color;
  font-family: @font-medium;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
}
.rounded-button-pink {
  .rounded-button(@color-pink)
}
.rounded-button-pink:hover {
  .rounded-button(darken(@color-pink, 10%))
}
.rounded-button-pink-tiny {
  .rounded-button(@color-pink);
  font-size: 12px;
}
.rounded-button-pink-tiny:hover {
  .rounded-button(darken(@color-pink, 10%));
  font-size: 12px;
}
.rounded-button-grey-tiny {
  .rounded-button(@color-dark-grey);
  font-size: 12px;
}
.rounded-button-grey-tiny:hover {
  .rounded-button(darken(@color-dark-grey, 10%));
  font-size: 12px;
}

// hashtags
.hashtag {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
  color: @color-very-dark-grey;
  background-color: fade(@color-black, 5%);
  margin-right: 2px;
}

// social list
.social-list ul {
  margin-top: 20px;
}
.social-list li {
  display: inline;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  list-style-type: none;
}
.social-list li a i {
  color: @color-light-grey;
}
.social-list li a i:hover {
  color: darken(@color-light-grey, 20%)
}

// menu
.flink-menu {
  background: white;
  width: 100%;
  padding: @metric-mobile-padding;
  border-bottom: @color-separator 1px solid;
}
.flink-menu-logo {
  float: left;
}
.flink-menu-links {
  float: right;
}

// footer
.flink-footer {
  background: white;
  width: 100%;
  padding: @metric-mobile-padding;
  border-top: @color-separator 1px solid;
  text-align: center;
}

// inline navigator
.inline-navigator li {
  display: inline;
  color: @color-dark-grey;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  list-style-type: none;
}
.inline-navigator  li a {
  color: @color-dark-grey;
}
.inline-navigator  li a:hover {
  color: @color-dark-grey;
}
