@import "variables.css.scss";
@import "bootstrap_and_overrides.css.less";
@import "common.css.scss";


h1,h2 {
  margin: 0;
}
/*== Reset and imports ==*/
[class*="helvetica-"]:before { font-family: 'helvetica', sans-serif }
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/*== Style starts here ==*/
body {
  -moz-background-size:cover;
  background-size:cover;
  -webkit-font-smoothing: none;
  color:  black;
}

#background  {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  z-index: -2;
  -webkit-filter: blur(40px);
  -webkit-animation: fadein linear 1s;
}

@-webkit-keyframes fadein {
  0% {    -webkit-filter: blur(10px);}
  28% { -webkit-filter: blur(20px);}
  100% {  -webkit-filter: blur(40px);}
}

#background-color {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  right: -2.5%;
  left: -2.5%;
  top: -2.5%;
  bottom: -2.5%;
  z-index: -1;
  background-color: #000000;
}

#pane {
  width: 700px;
  height: 600px;
  /*linear-gradient*/
  background: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#eae8e3));
  background: -webkit-linear-gradient(#f1f1f1 90%,#eae8e3);
  background: -moz-linear-gradient(#f1f1f1 90%,#eae8e3);
  background: -o-linear-gradient(#f1f1f1 90%,#eae8e3);
  background: linear-gradient(#f1f1f1 90%,#eae8e3);
  margin: 80px auto 0;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2),0 3px 5px -3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.2),0 3px 5px -3px rgba(0,0,0,.5);
  box-shadow: 0 3px 5px rgba(0,0,0,.2),0 3px 5px -3px rgba(0,0,0,.5);
}
#pane #cover {
  width: 350px;
  height: 600px;
  display: block;
  /*background-size*/
  -moz-background-size:contain;
  background-size:contain;
  background-position: 0px -40px;
  position: absolute;
}

#content {
  width: 350px;
  height: 600px;
  margin-left: 350px;
  display: block;
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,.4), inset 0 2px 1px rgba(255,255,255,.4);
  -moz-box-shadow: inset 0 0 10px rgba(255,255,255,.4), inset 0 2px 1px rgba(255,255,255,.4);
  box-shadow: inset 0 0 10px rgba(255,255,255,.4), inset 0 2px 1px rgba(255,255,255,.4);
}

#content {
  text-align: center;
  font-weight: normal;

  #header {
    height: 45%;
    padding-top: 60px;
    width: 90%;
    display: block;
    margin: auto;
    h2 {
      font-weight: bold;
    }
    .flinker-avatar {
      border-radius: 50%;
      border: 2px solid white;
    }
  }

  #center {
    //background-color: green;
    height: 20%;
  }

  #footer{
    height: 30%;
    h5 {
      line-height: 20px;
      margin-bottom: 30px;
    }
  }
}

#share-buttons {
  display: block;
  margin: auto;
  width: 250px;
  margin-top: 50px;
  .fb-like {
    margin-right: 5px;
  }
}



//Buttons

// variables
$button-font-family: sans-serif;
$button-font-size: 12px;
$button-line-height: 1.2em;
$button-font-weight: 400;
$button-letter-spacing: 1px;

$button-border-radius: 3px;
$button-padding: 15px 20px;
$button-margin: 0;



$button-flat-empty-border-width: 2px;


// prototype mixin
@mixin button-proto($bg, $text) {
  position: relative;
  display: inline-block;
  padding: $button-padding;
  margin: $button-margin;

  border-radius: $button-border-radius;

  font-family: $button-font-family;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  text-decoration: none;

  background: $bg;
  color: $text;
}


// flat empty button
@mixin button-flat-empty($bg, $text) {
  @include button-proto($bg, $text);
  background: none;
  border: $button-flat-empty-border-width solid $bg;

  &:hover {
    background: $bg;
    color: white;
  }
}

// demo page
$color: #707070;

.button-flat-empty {
  @include button-flat-empty(black, black);
}



//Landing Page

#landing-page {
  color: white;
  font-family: helveticaneue;

  .left-colum {
    margin-top: 60px;
  }
}

.tagline {
  margin-bottom: 40px;
  font-size: 24px;
}

.iphone {
  width: 291px ;
  height: 614px ;
  background-image: url(asset-path("flink/phone.png",image));
  background-repeat: no-repeat ;
  background-size: contain;
  background-position:center;
  margin: auto;
}

.look-screen {
  border: 1px solid #000000;
  border-radius: 1px;
  width:  252px;
  height:  444px;
  margin-top: 85px;
  margin-left: 21px;
}

#background-page {
  background: asset-url("flink/background-flink.png", image);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  z-index: -2;

}
.center {
  text-align: center;
  display: block;
  margin: auto;
}


//Terms


.cgu {

  b {
    color: #f00055;
  }

  h3 {
    color: #23b7e8;
  }

  font-weight: normal;
  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    padding-left: 1em;
    text-indent: -.7em;
  }

  li:before {
    content: "\002022 ";
    color: $blue; /* or whatever color you prefer */
  }
}

//Sticky Footer

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  padding: 0 0 80px;
}

// Footer

#flink_footer {
  height: 80px;
  background: none;
  color: white;
  .container {
    height: 80px;
    li {
      margin-left: 10px;
      height: 44px;
      width: 44px;
    }
    padding-top: 20px;
  }

  .social-image {
    height: 44px;
    width: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #instagram-image {
    background-image: url(asset-path("instagram-icon.png",image));
    &:hover {
      background-image: url(asset-path("instagram-icon-hover.png",image));
    }
  }

  #twitter-image {
    background-image: url(asset-path("twitter-icon.png",image));
    &:hover {
      background-image: url(asset-path("twitter-icon-hover.png",image));
    }
  }

  #email-image {
    background-image: url(asset-path("email-icon.png",image));
    &:hover {
      background-image: url(asset-path("email-icon-hover.png",image));
    }
  }

  #facebook-image {
    background-image: url(asset-path("facebook-icon.png",image));
    &:hover {
      background-image: url(asset-path("facebook-icon-hover.png",image));
    }
  }

  #terms {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
    font-family: "helveticaneue" ;
    a:hover {
      text-decoration: none;
      color:  #f00055;
    }
  }

}


@media (max-width: 993px) {
  .right-column {
    display: none;
  }

  .tagline {
    font-size: 18px;
  }

  #flink_footer {
    display: none;
  }
}



@media (max-width: 768px) {
  body {
    overflow: hidden;
  }

  h1 {
    font-size: 24px;
  }

  .spacer40 {
    height: 20px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
  }

  #diamond img {
    width: 25%;
    margin: auto;
  }

  #download-btn img {
    width: 50%;
    margin: auto;
  }


  #background-page {
    background: asset-url("flink/background-flink.png", image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .tagline {
    font-size: 16px;
    text-align: center;
  }

  #landing-page .left-colum {
    margin-top: 20px;
  }


}