%section.header
  %header
    %h1 Collection
    %h2= @collection.name
    .collection-header-title
      = image_tag @collection.image.url, style:"max-height: 100px;" if @collection.image.present?  

= render "builder"