%section.header
  %header
    %h1 Collection
    %h2= @collection.name
    .action-buttons
      %a.btn.btn-large.btn-success{href: edit_admin_collection_path(@collection), type: "button"}
        %i.icon-edit.icon-white
        Edit collection
    .collection-header-title
      = image_tag @collection.image.url


.container-fluid
  .row-fluid
    = render @collection.collection_items