<% @covers.each do |look| %>
  <% url = Rails.configuration.image_host + look.look_covers.first.picture.url(:small) %>
  <div style="background-image:url(<%= url %>);" class="covr">
  </div>
<% end %>
