// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";
@import "jquery-ui-1.10.3.custom.min.css.scss";
@import "bourbon";
@import "bootstrap_and_overrides.css.less";
@import "home.css.scss";
@import "public.css.scss";

$product-height: 300px;
$collection-height: 300px;
$collection-image-size: 200px;

//Sticky Footer

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  padding: 0 0 80px;
}

// Footer

footer {
   height: 80px;
   background-color: white;
   border-top: 1px solid #d1d4d7;
   color: $blue;
   box-shadow: 0 0 5px rgba(0,0,0,0.1);
   .container {
     height: 80px;
     ul:first-of-type {
       li {
         padding-top: 10px;
       }
     }
     li {
       margin-left: 10px;
     }
     padding-top: 20px;
   }
}



.clearfix {
  clear: both;
}

.navbar-brand {
  padding-bottom: 0px;
}

.logo-navbar {
  margin-top: -15px;
  height: 45px;
}

.display-none {
  display: none;
}

.right {
  text-align: right;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.cart-item, .cart-item-img{
  position:relative;
  z-index:2;
}
.cart-item-img {
  max-width:260px;
  max-height:260px;
  display: block;
  margin: 0 auto;
}
.cart-item-actions{
  width:260px;
  height:260px;
  position:absolute;
  overflow:hidden;
  margin-top:-263px;
  bottom: 5px;
  z-index:2;
}
.cart-item{
  min-width:260px;
  min-height:260px;
  width:260px;
  height:260px;
  margin:20px auto;
}
.info-block, .cart-item-title, .cart-item-price, .cart-item-details, .cart-item-delete, .cart-item-spinner {
  position:absolute;
  z-index:3;
}
.info-block{
  height:130px;
  width:260px;
  background:rgba(255,255,255,.85);
  bottom:0px;
  margin-bottom:-70px;
}
.cart-item-title{
  color:#222;
  font-size:1em;
  font-weight:400;
  top:12px;
  left:15px;
  width:170px;
  height: 40px;
  overflow: hidden;
}
.cart-item-price{
  color:#e74c3c;
  font-size:1em;
  font-weight:700;
  font-family:'helvetica neue';
  right:15px;
  top:12px;
}
.cart-item-details{
  margin:0 auto;
  width:70%;
  height:44px;
  bottom:15px;
}
.cart-item-delete{
  margin:0 auto;
  width:25%;
  height:44px;
  bottom:15px;
  right: 0px;
}
.cart-item:hover .info-block{
  margin-bottom:0;
}
.cart-item-spinner {
  background:rgba(255,255,255,.85);
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}
.cart-item .spinner {
  top: 15px;
  left: 15px;
}

.collection {
  height: $collection-height;
  max-height: $collection-height;
  background-color: #fff;
  width: 100%;
  margin: 25px 0px 0px 0px;
}
.collection, .collection-name, .collection-tags, .collection-images {
  position: relative;
}
.collection-images {
  cursor: pointer;
  height: $collection-height;
  max-height: $collection-height;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.collection-images:hover {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.collection-image {
  max-height: $collection-image-size; 
  position: absolute;  
  top: 300px;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}
.collection-name {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size:2.5em;
  left:0px;
  top:0px;
  padding: 5px 20px 5px 20px;
  background-color: #00A185;
}
.collection-name a {
  color: #fff;
}
.collection-name a:hover {
  color: #0181a6;
  text-decoration: none;
}
.collection-tags {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size:1.2em;
  left:0px;
  bottom:0px;
  width: 100%;
  padding: 5px 20px 5px 20px;
  background-color: #798288;
  text-align: right;
}
.collection-tags a {
  color: #fff;
}
.collection-tags a:hover {
  color: #00bbff;
  text-decoration: none;
}

.collection-title {
  color: $lightGrey;
  font-size: 3.5em;
  font-weight: 700;
  text-align: left;
}
.collection-product-box {
  cursor: pointer;
}
.collection-product-box, .collection-product, .collection-product-img {
  position: relative;
  z-index:2;
}
.collection-product-img {
  max-height: 90%;  
  max-width: 90%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}
.collection-product, .collection-product-box {
  background-color: #fff;
  width: 100%;
  height: $product-height;
  margin: 25px 0px 0px 0px;
}
.collection-product {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.collection-product:hover {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.collection-product-price {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size:1.8em;
  right:0px;
  top:0px;
  padding: 5px 20px 5px 20px;
  background-color: #00A185;
}

.catalogue-box {
  cursor: pointer;
}
.catalogue-box, .catalogue, .catalogue-img {
  position: relative;
  z-index:2;
}
.catalogue-img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
  padding-top: 5px;
}
.catalogue, .catalogue-box {
  background-color: #fff;
  max-width: 210px;
  max-height: 150px;
  width: 210px;
  height: 150px;
  margin: 25px 0px 0px 0px;
}
.catalogue {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.catalogue:hover {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -ms-transition: all 0.4s ease-out;  /* IE10? */
  transition: all 0.4s ease-out;    
}
.catalogue-price {
  position:absolute;
  z-index:3;
  color: #fff;
  font-size:1.2em;
  right:0px;
  top:0px;
  padding: 5px 20px 5px 20px;
  background-color: #00A185;
}
.catalogue-name {
  position:absolute;
  z-index:3;
  color: #000;
  font-size:1.0em;
  width: 100%;
  height: 29px;
  overflow: hidden;
  left:0px;
  bottom:0px;
  padding: 5px;
  background-color: #ddd;
}

#tags_category, #tags_merchant {
  line-height: 40px;
  text-align: left;
}