// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "jquery-ui-1.10.3.custom.min.css.scss";
@import "bourbon";
@import "variables.css.scss";
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap_override";

.clearfix {
  clear: both;
}

.phone-margin {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.logo-navbar {
  margin-top: -5px;
}
