/*img{
  -webkit-animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}
*/
div.covr{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:160px;
  height:320px;
  display:inline-block;
  background-position:center center;
}