.center {
  display: block;
  margin: auto;
}

.text-center {
  text-align: center;
}

#promise {
  color: grey ;
  font-size: 30px;
  line-height: 27px;
}

#get-link {
 padding: 15px 20px;
}


input#product-bar,button#btn-order {
  height: 60px;
  padding: 20px 30px !important;
  font-size: 20px;
}

#merchant-table {
  margin: auto;
  tr,td,tbody {
    padding: 10px;
    margin: 10px;
  }
}

#send-link-input {
  max-width: 180px;
}

.cgu {
  h3 {
    color: blue;
  }

  b {
   color: green;
  }

  font-weight: normal;
  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    padding-left: 1em;
    text-indent: -.7em;
  }

  li:before {
    content: "\002022 ";
    color: blue; /* or whatever color you prefer */
  }
}


iframe, #video-iframe {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 80%;
  min-height: 700px;
}