.topHome {
  background-color: $blue;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}


.promise {
  color: white;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 100px;
}


.iphone-screen {
   width: 403px ;
   height: 614px ;
   background-image: url(asset-path("iphone-bg.png",image));
   background-repeat: no-repeat ;
   background-size: contain;
   background-position:center;
   margin: auto;

}

.demo-screen {
  border: 1px solid slategray;
  border-radius: 3px;
  width:  215px;
  height:  380px;
  margin-top: 80px;
  margin-left: -7px;
}

article#homeArticle section {
    display: block;
    width:  800px;
    margin: auto !important;
    font-size: 18px;
    color: $grey;
}

section#download {
  width: auto !important;
  height: 300px;
  background-image: url(asset-path("pattern.gif",image));
  background-repeat: repeat;
  border-top: 1px solid #ddd8db;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

}

#well_download {
  max-width: 400px;
  margin: 0 auto 10px;
  background-color: white;
  margin-top: 64px;

}

