.topHome {
  background-color: $blue;
  min-height: 768px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}


.promise {
  color: white;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 100px;
}