@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

$sansFontFamily : 'Asap', sans-serif;


$containerWidth: 1140px;

$black: #372f2b;
$darkGray: #c0c0c0;
$blue: #3b85c8;
$red: #d23c3c;
$redLight: lighten(lightcoral,15%);

$linkColor: $black;
$textColor: $black;

$btnBackground:                     #3b85c8;
$btnBackgroundHighlight:            #286398;
$btnBorder:                         #3b86c4;


$bodyBackground: #efefeb;