@import url(https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

@import url(http://fonts.googleapis.com/css?family=Signika:400,300,700,600);

$signika: "Signika";


$sansFontFamily : 'Asap', sans-serif;

$green: #3cc8ad;
$darkGreen: #00A185;
$lightGrey: #f8f8f8;
$grey: #798288;
$lightBlue: #00bbff;
$blue: #0181a6;
$darkBlue: #021037;
$red: #e74c3c;


$bodyBackground: $lightGrey;


$linkColor: $blue;
$textColor: $grey;

$btnSuccessBackground:              $green;
$btnSuccessBackgroundHighlight:     darken($green,10%);
$btnSuccessBorder:                  darken($green,5%);

$btnInfoBackground:                 $blue;
$btnInfoBackgroundHighlight:        darken($blue,10%);
$btnInfoBorder:                     darken($blue,5%);

//Font Size
$smallSizeFont: 14px;
$mediumSizeFont: 22px;

//Forms
$formsCellHeight:45px;
$formsCellwidth: 294px;
$formsButtonHeight: 45px;
$formsButtonWidth: 308px;

// Popovers
// -------------------------

//$popoverBackground:       $red;
$popoverArrowColor:       $blue;
$popoverTitleBackground:  $blue;

// Special enhancement for popovers
$popoverArrowWidth:       5px;
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);
