<p>Bonjour <%= @resource.email %>!</p>
<p>Vous avez demandé à réinitialiser votre mot de passe.</p>
<p>Vous pouvez le faire en cliquant sur le lien ci-dessous :</p>
<p><%= link_to "Changer mon mot de passe", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>Si vous n'avez pas demandé le changement de votre mot de passe, vous pouvez ignorer cet email.
Votre mot de passe ne sera changé que si vous cliquez sur le lien ci-dessus et en définissez un nouveau.</p>
