<section class="header">
  <header>
    <h1>Users</h1>
    <h2>List of users and guests</h2>
  </header>
</section>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span2">
      <article class="coolbox">
        <h3>Time period</h3>
        <input type="text" class="graph-option input-small" id="date-start" value="<%= @date_start.strftime("%Y-%m-%d") %>">
        <input type="text" class="graph-option input-small" id="date-end" value="<%= @date_end.strftime("%Y-%m-%d") %>">
      </article>
      <article class="coolbox">
        <h3>Sign ups & Guests</h3>
        <select id="visitor" class="graph-option input-small">
          <option default value="">All</option>
          <option value="0">Sign ups only</option>
          <option value="1">Guests only</option>
        </select>
        <br>
        <small>
          Sign ups are when user register with all information in order to buy a product,
          guests are when only email is entered to follow a product.
        </small>
      </article>
    </div>
    <div class="span10">
      <article class="coolbox">
        <h3>Sign-ups evolution over time</h3>
        <div id="signUpChart"></div>
        <div id="signUpData" data-json="<%= @chart.to_json %>"></div>
      </article>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <article class="coolbox">
        <h3>Full list</h3>
        <table id="users" class="table table-striped" data-source="<%= admin_users_url(format: 'json') %>">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Created at</th>
              <th>Orders</th>
              <th>List items</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody />
        </table>
      </article>
    </div>
  </div>
</div>

  <div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Warning !</h3>
    </div>
    <div class="modal-body">
      <p>Do you really want to destroy the user <strong><span id="confirmModelUsername"/></strong>&nbsp;?</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-danger" id="confirmDestruction">Confirm destruction</a>
    </div>
  </div>

</div>