<% content_for :head do %>
<%= javascript_include_tag 'datatable.reload_ajax' %>
<%= javascript_include_tag 'admin/users' %>
<% end %>

<div class="row">
  <div class="span12">
    <h1>Users list</h1>
    <table id="users" class="table table-striped" data-source="<%= admin_users_url(format: 'json') %>">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Created at</th>
          <th>Confirmed</th>
          <th>Orders</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
</div>

<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Warning !</h3>
  </div>
  <div class="modal-body">
    <p>Do you really want to destroy the user <strong><span id="confirmModelUsername"/></strong>&nbsp;?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-danger" id="confirmDestruction">Confirm destruction</a>
  </div>
</div>
