<% covers.each_with_index do |look, index| %>
  <% if index == 3 && !params[:page] %>
    <div class="ad">
      <script src="http://ib.3lift.com/ttj?inv_code=flink_main_feed"></script>
    </div>
  <% end %>
  <a style="background-image:url(<%= look.cover_url %>);" class="cover" href="<%= flink_looks_path(look) %>">
    <p class="hidden">
      <%= look.hashtags.map(&:name).uniq.join(",") %>
    </p>
  </a>
<% end %>
