<% @covers.each do |look| %>
  <a style="background-image:url(<%= look.cover_url %>);" class="cover" href="<%= flink_publisher_path(look.flinker)%>">
    <div class="cover-footer">
      <span>
        <%= look.name.strip %>
      </span>
      <span>
        <%= look.flinker.name %>
      </span>
    </div>
  </a>
<% end %>
