#chatroom
  #chat-list-users
    = render "list_users"
  #chat-user
    - if @device.present?
      = render "admin/georges/messages/messages"
  #chat-feature
  #live-traces-container
#collection_to_send