#chatroom
  #chat-list-users
    - @devices.each do |device|
      = link_to admin_georges_device_messages_path(device), :remote => true do
        .user-row
          - if device.user
            #{device.user.first_name} #{device.user.last_name}
          - else
            device.id
  #chat-user
  #chat-feature
    fefe
