<%= content_for :title do %>
  CGU
<% end %>
<div class="container">
  <p>
    <h3>CONDITIONS GENERALES D’UTILISATION</h3>
    <br/>
  </p>
  <p>
    <b>Présentation du Service FLINK</b>
  </p>
  <p>
    <b>Article 1- Objet</b>
  </p>
  <p>
    <b>Article 2 - Accès au Service</b>
  </p>
  <p>
    <b>Article 3 - Responsabilité de l’Utilisateur</b>
  </p>
  <p>
    <b>Article 4 - Responsabilité de FLINK</b>
  </p>
  <p>
    <b>Article 5 - Suspension – Résiliation</b>
  </p>
  <p>
    <b>Article 6 - Protection de la vie privée et des données à caractère personnel</b>
  </p>
  <p>
    <b>Article 7 - Propriété intellectuelle</b>
  </p>
  <p>
    <b>Article 8. - Liens depuis FLINK</b>
  </p>
  <p>
    <b>Article 9 - Acceptation, modification et consultation des Conditions Générales d’Utilisation</b>
  </p>
  <p>
    <b>Article 10 - Demande de retrait de contenu répertorié par le Service</b>
  </p>
  <p>
    <b>Article 11 - Preuve, conservation et archivage</b>
  </p>
  <p>
    <b>Article 12 - Informations supplémentaires</b>
  </p>
  <p>
    <b>Article 13 - Loi applicable – Juridictions compétentes</b>
  </p>
  <br/>
  <br/>
  <p>
    <b>
      <i>Présentation du Service FLINK :</i>
    </b>
  </p>
  <p>
    FLINK est un service (ci-après désigné le « Service FLINK » ou le « Service ») qui propose à des Utilisateurs la possibilité de s’abonner à des sites web
    traitant de sujets en lien avec l’univers de la mode féminine.
  </p>
  <p>
    Dans le cadre du Service proposé, les Utilisateurs peuvent quotidiennement découvrir de nouvelles compositions vestimentaires et les références produits
    utilisés.
  </p>
  <p>
    L’accès au Service se fait uniquement au travers de l’Application dédié (ci-après désignée l’ « Application FLINK » ou l’ « Application ») téléchargeable
    par le biais de la plateforme de téléchargement « App Store » et/ou depuis le site
    <a href="http://www.flink.io">http://www.flink.io</a>
  </p>
  <p>
    Le Service offert par FLINK est à vocation purement utilitaire et informative. Le contenu répertorié par FLINK, dans le cadre du Service, ne répond qu’à
    cette seule et même vocation.
  </p>
  <p>
    Les utilisateurs peuvent bénéficier du Service FLINK sous réserve de l’acceptation préalable des présentes Conditions Générales d’Utilisation.
  </p>
  <p>
    Les utilisateurs reconnaissent que l’utilisation du service FLINK nécessite le respect de l’ensemble des prescriptions d’utilisation définies au sein des
    présentes Conditions Générales d’Utilisation et reconnaissent disposer de la compétence et des moyens nécessaires pour accéder et utiliser le service
    FLINK.
  </p>
  <p>
    <b>Article 1 – Objet</b>
  </p>
  <p>
    Les présentes Conditions Générales d'Utilisation ont pour objet de définir les conditions dans lesquelles les Utilisateurs sont autorisés à accéder et à
    utiliser le Service FLINK mis à leur disposition, via l’Application.
  </p>
  <p>
    <b>Article 2 - Accès au Service</b>
    <i>(processus à valider)</i>
  </p>
  <p>
    La procédure d’inscription au Service est la suivante :
  </p>
  <p>
    <b>1°)</b>
    l’Utilisateur complète la demande d’inscription au Service, via l’Application, en fournissant les données suivantes :
  </p>
  <ul>
    <li>
      une adresse de messagerie électronique valide, cette dernière constituant son identifiant (nom d’Utilisateur) pour accéder à son compte et aux services
      de FLINK,
    </li>
  </ul>
  <ul>
    <li>
      un mot de passe choisi par ses soins, strictement personnel et confidentiel.
    </li>
  </ul>
  <p>
    <b>2°)</b>
    En s'inscrivant au Service, l'Utilisateur déclare avoir pris connaissance des présentes Conditions Générales D’Utilisation. En validant son inscription,
    l'Utilisateur accepte sans réserve d'être lié par celles-ci et d'en respecter pleinement et entièrement les termes.
  </p>
  <p>
    En tout état de cause, l’utilisation du Service par l’Utilisateur emporte acceptation pleine et entière des présentes Conditions Générales d’Utilisation.
  </p>
  <p>
    Nota :
  </p>
  <ul>
    <li>
      Au cas où l'une des informations obligatoires à renseigner s'avérerait fausse ou incomplète, FLINK se réserve le droit, sans aucune indemnité et sans
      préavis, de suspendre ou de fermer le compte de lʼUtilisateur et de lui refuser l'accès à tout ou partie du Service.
    </li>
  </ul>
  <ul>
    <li>
      LʼUtilisateur a la possibilité à tout moment de modifier les paramètres de son compte en se connectant à la rubrique « Mon compte » afin de modifier
      ses informations personnelles.
    </li>
  </ul>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    <b>3°)</b>
    l’Utilisateur peut alors sélectionner les informations auxquelles il désire s’abonner à travers une liste de sites web dédiés à la mode répertoriés par le
    Service FLINK.
  </p>
  <p>
    <b>Article3 - Responsabilité de l’Utilisateur</b>
  </p>
  <p>
    LʼUtilisateur est et demeure, en toutes circonstances, maître de son utilisation du Service.
  </p>
  <p>
    En conséquence, l’Utilisateur est invité à faire preuve de discernement et de prudence s’agissant des informations auxquelles il accède dans le cadre de
    l’utilisation du Service.
  </p>
  <p>
    <b>Article 4 - Responsabilité de FLINK</b>
  </p>
  <p>
    <b>4.1.</b>
    La connexion au Service via l’Application implique la connaissance et l'acceptation par l’Utilisateur des caractéristiques et des limites de l'Internet et
    des réseaux de téléphonie mobile, notamment concernant les performances techniques, les temps de réponse pour consulter, interroger ou transférer des
    informations, les risques d'interruption, et plus généralement, les risques inhérents à toute connexion et transmission sur Internet / réseaux de
    téléphonie mobile, l'absence de protection de certaines données contre des détournements éventuels et les risques de contamination par des éventuels virus
    informatiques circulant sur les réseaux Internet et de téléphonie mobile.
  </p>
  <p>
    En conséquence, FLINK ne saurait en aucune circonstance être tenu pour responsable, sans que cette liste soit limitative :
  </p>
  <ul>
    <li>
      De la transmission et/ou de la réception de toute donnée et/ou information sur Internet ou sur réseaux de téléphonie mobile ;
    </li>
    <li>
      De tout dysfonctionnement des réseaux Internet et de téléphonie mobile empêchant le bon déroulement et/ou fonctionnement du Service ;
    </li>
    <li>
      De défaillance de tout matériel de réception ou des lignes de communication ;
    </li>
    <li>
      De perte de toute donnée ;
    </li>
    <li>
      Du fonctionnement de tout logiciel ;
    </li>
    <li>
      Des conséquences de tout virus ou bug informatique, anomalie, défaillance technique ;
    </li>
    <li>
      De tout dommage causé à l’appareil mobile d'un Utilisateur ;
    </li>
    <li>
      De toute défaillance technique, matérielle et logicielle de quelque nature, ayant endommagé l’appareil mobile d'un Utilisateur.
    </li>
  </ul>
  <p>
    FLINK ne saurait non plus voir sa responsabilité engagée au titre d'éventuels dysfonctionnements des réseaux Internet et de téléphonie mobile entraînant
    des défaillances dans l'administration, la sécurité, l'intégrité ou la gestion des données d'un compte Utilisateur.
  </p>
  <p>
    Les Utilisateurs sont responsables de l’utilisation du Service, de leurs actes et doivent respecter les présentes Conditions Générales dʼUtilisation en
    agissant de manière compatible avec le Service et les législations et réglementations en vigueur. Toute autre utilisation donne droit à FLINK d’agir dans
    les conditions rappelées à l’article 5 « Suspension – Résiliation » ci-dessous.
  </p>
  <p>
    Il appartient à tout Utilisateur de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels stockés sur son appareil
    mobile contre toute atteinte.
  </p>
  <p>
    <b>4.2.</b>
    Accessibilité et continuité du Service - Le Service est, par principe, accessible 7 jours sur 7 et 24 heures sur 24, sauf interruption, programmée ou non,
    pour les besoins de sa maintenance ou cas de force majeure. FLINK peut restreindre l’accès au Service si la sécurité de son fonctionnement et le maintien
    de son intégrité, rendent ces mesures nécessaires.
  </p>
  <p>
    FLINK n'est tenue qu’à une obligation de moyens dans la continuité du Service.
  </p>
  <p>
    Par conséquent, FLINK ne garantit pas que le Service proposé sera continu, sans interruption provisoire ou définitive, ou encore sans suspension ou sans
    erreur.
  </p>
  <p>
    En outre, toute évolution ou changement du Service pourra entraîner une mise à jour et/ou une indisponibilité temporaire de l’Application, laquelle ne
    saurait en aucune manière engager la responsabilité de FLINK.
  </p>
  <p>
    De même, FLINK se réserve la faculté d'interrompre ou de suspendre une ou plusieurs fonctionnalités du Service, à tout moment et sans préavis, sans avoir à
    en justifier. Dans ce cas, la responsabilité de FLINK ne pourra être engagée d'aucune manière de ce fait et les Utilisateurs ne pourront prétendre à aucun
    dédommagement d'aucune sorte.
  </p>
  <p>
    <b>4.3.</b>
    La responsabilité de FLINK est exclue concernant les dommages ou pertes indirects que lʼUtilisateur pourra subir, ainsi que concernant tous dommages
    immatériels tels que la perte de profits, la perte de bénéfices, la perte d'usage, la perte ou l'altération de données, ou les coûts engendrés par
    l'acquisition de produits ou services de substitution, résultant de l'utilisation ou du fonctionnement de l’Application ou des données accessibles
    ʼApplication.
  </p>
  <p>
    <b>4.4.</b>
    FLINK ne pourra accepter aucune réclamation relative à une inexécution ou mauvaise exécution du Service qui serait imputable soit à l’Utilisateur, soit au
    fait d’un tiers étranger à la fourniture du Service.
  </p>
  <p>
    <b>4.5.</b>
    FLINK est conduit à proposer aux Utilisateurs l'accès à des sites tiers (Cf. l’article 8 – « liens depuis FLINK» ci-après). Dans ce cas, FLINK ne saurait
    assumer la responsabilité des activités de ces tiers et engage ses visiteurs à prendre connaissance des conditions générales d’utilisations applicables
    auxdits sites tiers.
  </p>
  <p>
    <b>4.6.</b>
    Responsabilité de FLINK en qualité d'hébergeur - FLINK n’est légalement tenu à aucune obligation générale de surveillance du contenu transmis ou stocké via
    le Service.
  </p>
  <p>
    La seule obligations inhérente à la qualité d'hébergeur de FLINK concernent la conservation des données de connexion des Utilisateurs, par ailleurs
    couvertes par le secret professionnel et traitées dans le respect des dispositions légales en matière de données personnelles (Cf. l’article 6
    <i>« Protection de la vie privée et des données à caractère personnel ».</i>
  </p>
  <p>
    <b>Article 5 - Suspension – Résiliation</b>
  </p>
  <p>
    Les Utilisateurs sont responsables de l’utilisation du Service, de leurs actes et doivent respecter les règles des présentes Conditions Générales
    dʼUtilisation en agissant de manière compatible avec le Service et les législations et réglementations en vigueur.
  </p>
  <p>
    FLINK est autorisée à utiliser toutes les mesures nécessaires pour prévenir ou détecter n’importe quel usage illicite ou frauduleux de son Service.
  </p>
  <p>
    En cas de non respect par lʼUtilisateur de l'une quelconque des dispositions des présentes Conditions Générales dʼUtilisation, FLINK se réserve le droit,
    sans préavis ni indemnité, et en tenant compte de la gravité du manquement reproché, de :
  </p>
  <ul>
    <li>
      informer lʼUtilisateur de ce manquement et lui demander dʼy remédier,
    </li>
    <li>
      suspendre lʼaccès de l’Utilisateur à tout ou partie du Service,
    </li>
    <li>
      résilier l’accès de lʼUtilisateur au Service (en supprimant aussi son compte Utilisateur),
    </li>
  </ul>
  <p>
    et ce, sans préjudice de toutes autres actions de droit commun qui pourraient être ouvertes à FLINK ainsi que de tous dommages-intérêts auxquels FLINK
    pourrait prétendre.
  </p>
  <p>
    <b>Article 6 - Protection de la vie privée et des données à caractère personnel</b>
  </p>
  <p>
    Le renseignement des informations nominatives collectées dans le cadre de l'inscription au Service est obligatoire, ces informations étant nécessaires pour
    pouvoir utiliser le Service. Ces informations sont strictement confidentielles.
  </p>
  <p>
    L’Utilisateur déclare accepter la conservation de ses données personnelles pendant toute la durée des relations contractuelles avec FLINK. Elles seront
    supprimées dans les 12 mois suivant la fin desdites relations contractuelles quelle qu’en soit la cause.
  </p>
  <p>
    L’Utilisateur est libre d’accéder à son compte Utilisateur pour modifier et/ou supprimer les données personnelles qu’il a fournies.
  </p>
  <p>
    La Société dispose d’un Correspondant Informatique et Libertés (ci-après « CIL ») en la personne du cabinet LEXENSIS Avocats Conseils (4, place du 18 juin
    1940 – 75006 Paris).
  </p>
  <p>
    L'Utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données le concernant.
  </p>
  <p>
    L’Utilisateur peut exercer son droit d’accès, de modification, de rectification, de suppression des données personnelles le concernant ainsi que consulter
    le registre des traitements des données personnelles en s’adressant au CIL à travers l’adresse cil@lexensis.com, et/ou en écrivant à l’attention de
    LEXENSIS Avocats Conseils, 4 place du 18 juin 1940, 75006 Paris.
  </p>
  <p>
    La Société pourra adresser à l’adresse électronique de l’Utilisateur des informations et/ou des offres pour des services analogues. Il est toujours
    possible à l’Utilisateur de faire cesser les envois en se désinscrivant de la lettre d’information en cliquant sur le lien de désinscription contenu dans
    le message électronique qu’il a reçu sur son adresse électronique.
  </p>
  <p>
    <b>Article 7 - Propriété intellectuelle</b>
  </p>
  <p>
    <b>7.1.</b>
    Les présentes Conditions Générales dʼUtilisation n’emportent aucune cession de droits de propriété intellectuelle quels qu’ils soient, sur le Service et
    l’Application appartenant à FLINK, au profit de lʼUtilisateur.
  </p>
  <p>
    <b>7.2.</b>
    Les informations et les bases de données accessibles et reproduites sur l’Application sont la propriété de FLINK, à l’exception des contenus et signes
    distinctifs des tiers, répertoriés par FLINK dans le cadre de son Service (Cf. article 8 ci-dessous), qui demeurent la propriété de ces derniers. Dans ce
    cadre, et pour le cas où un tiers, Utilisateur ou non du Service, estimerait que le contenu répertorié par FLINK porterait atteinte à l’un quelconque de
    ses droits, ce dernier a la faculté de le signaler à FLINK et d’en solliciter le retrait sous 24 heures conformément aux termes de l’article 10 ci-dessous.
  </p>
  <p>
    <b>7.3.</b>
    Licence d’utilisation de l’Application - FLINK concède à tout Utilisateur qui a téléchargé et installé lʼApplication sur son appareil mobile, une licence
    d’utilisation de l’Application conformément aux dispositions du contrat de licence applicable à la plateforme de téléchargement d’applications concernée.
  </p>
  <p>
    Cette licence d’utilisation non-exclusive, non-transférable et sans droit de sous-licencier est ainsi concédée à l’Utilisateur pour un usage personnel et
    non commercial, pour le monde entier et pour une durée illimitée afin de lui permettre d'exécuter, d’afficher et d'utiliser l’Application.
  </p>
  <p>
    FLINK se réserve tous autres droits sur lʼApplication.
  </p>
  <p>
    LʼUtilisateur n’est pas non plus autorisé à désassembler, décompiler, ou procéder à des opérations de reverse engineering sur lʼApplication, ni à accéder à
    ses codes source de quelque manière que ce soit.
  </p>
  <p>
    LʼApplication et tous droits de propriété intellectuelle y afférents sont la propriété exclusive de FLINK.
  </p>
  <p>
    <b>Article 8 - Hyperliens depuis le Service</b>
  </p>
  <p>
    Le Service contient des hyperliens pointant vers d'autres sites Internet, clairement identifiés, qui n'appartiennent pas à FLINK ou ne sont pas contrôlés
    par FLINK.
  </p>
  <p>
    FLINK n'exerce aucun contrôle sur le contenu répertorié, les chartes de protection des données personnelles ou les pratiques des sites tiers et décline
    toute responsabilité à cet égard.
  </p>
  <p>
    L’Utilisateur reconnait et accepte que FLINK n'est pas responsable de la disponibilité de ces sites et ressources externes et ne cautionne ni la publicité,
    ni les produits ou autres matériels figurant sur ces sites Internet ou ressources externes, ou accessibles depuis ceux-ci.
  </p>
  <p>
    <b>Article 9 – Acceptation, modification et consultation des Conditions Générales d’Utilisation</b>
  </p>
  <p>
    <b>9.1.</b>
    Tout Utilisateur ne souhaitant pas adhérer aux présentes Conditions Générales d’Utilisation doit impérativement s’abstenir d’accéder au Service FLINK, via
    l’Application.
  </p>
  <p>
    L’Utilisateur n’est pas autorisé à utiliser le Service FLINK et, par conséquent, accepter les présentes Conditions Générales d’Utilisation, si :
  </p>
  <ol>
    <li>
      il n’a pas atteint la majorité légale requise pour conclure un contrat avec FLINK,
    </li>
  </ol>
  <ol>
    <li>
      les lois de son pays de résidence ou du pays à partir duquel il accède au Service ou l’utilise lui interdisent de recevoir ou d'utiliser le Service ou
      prohibe une telle réception ou utilisation.
    </li>
  </ol>
  <p>
    En s'inscrivant au Service, l'Utilisateur déclare avoir pris connaissance des présentes Conditions Générales D’Utilisation. En validant son inscription,
    l'Utilisateur accepte sans réserve d'être lié par celles-ci et d'en respecter pleinement et entièrement les termes.
  </p>
  <p>
    L’acceptation des présentes Conditions Générales d’Utilisation résultera de la validation, par l’Utilisateur, de son inscription au Service à l’issue de la
    procédure prévue à l’article 2. ci-dessus.
  </p>
  <p>
    En tout état de cause, l’utilisation du Service par l’Utilisateur emporte acceptation pleine et entière des présentes Conditions Générales d’Utilisation.
  </p>
  <p>
    <b>9.2.</b>
    Dans un souci d'adaptation aux évolutions régulières du Service et/ou de son exploitation, FLINK se réserve la faculté de modifier, unilatéralement et sans
    préavis, les Présentes Conditions Générales d’Utilisation.
  </p>
  <p>
    Les Conditions Générales d’Utilisation seront applicable dès leur mise en ligne.
  </p>
  <p>
    Par conséquent, les dispositions applicables seront celles des Conditions Générales d’Utilisation les plus récentes consultables par l’Utilisateur
    conformément aux termes de l’article 9.3. ci-après.
  </p>
  <p>
    En tout état de cause l’utilisation continue du Service vaut acceptation pleine et entière par l’Utilisateur de ces éventuelles modifications.
  </p>
  <p>
    <b>9.3.</b>
    L'ensemble des dispositions des Conditions Générales d’Utilisation peuvent être consultées gratuitement et à tout moment au sein de l’Application,
    <i>via</i>
    sur
    <i>></i>
    le lien suivant : www.flink.io/cgu
  </p>
  <p>
    <b>Article 10– Demande de retrait de contenu répertorié par le Service</b>
  </p>
  <p>
    Le Service offert par FLINK est à vocation purement utilitaire et informative. Le contenu répertorié par FLINK dans le cadre du Service ne répond donc qu’à
    cette seule et unique vocation.
  </p>
  <p>
    Pour le cas où un Tiers, Utilisateur ou non du Service, estimerait que le contenu ainsi répertorié porterait atteinte à l’un quelconque de ses droits,
    FLINK met à la disposition de ce Tiers un lien lui permettant de signaler le contenu litigieux et d’en demander le retrait pur et simple. Ce lien de
    signalement est disponible en cliquant
    <%= link_to 'ICI',"mailto:hello@flink.io" %>
  </p>
  <p>
    FLINK s’engage à retirer définitivement le contenu répertorié, objet de la demande, dans les 24 heures qui suivent la réception du signalement.
  </p>
  <p>
    <b>Article 11 - Preuve, conservation et archivage</b>
  </p>
  <p>
    Les registres informatisés conservés dans les systèmes informatiques de FLINK dans des conditions raisonnables de sécurité, seront considérés comme les
    preuves des communications intervenues entre l’Utilisateur et FLINK.
  </p>
  <p>
    L’archivage des présentes Conditions Générales d’Utilisations acceptées par l’Utilisateur dans les conditions posées à l’article 10 ci-dessus, est effectué
    sur un support fiable et durable de manière à correspondre à une copie fidèle et durable. En cas de conflit entre les registres informatisés de FLINK et
    tout document sur support écrit ou fichier électronique de l’Utilisateur, il est expressément convenu que les registres informatisés de FLINK primeront sur
    les documents de l’Utilisateur et seront seuls admis à titre de preuve.
  </p>
  <p>
    <b>Article 12 - Informations supplémentaires</b>
  </p>
  <p>
    Pour toutes questions relatives aux présentes Conditions Générales d’Utilisation, ou au Service de manière général, l’Utilisateur est invité à prendre
    contact avec FLINK à l’adresse électronique suivante : hello @flink.io
  </p>
  <p>
    Ou par courrier, à l’adresse suivante :
  </p>
  <p>
    FLINK - Service client
  </p>
  <p>
    21 rue Aboukir
  </p>
  <p>
    75002 Paris
  </p>
  <p>
    <b>Article 12 – Loi applicable – Juridictions compétentes</b>
  </p>
  <p>
    Les présentes conditions sont soumises à la loi française.
  </p>
  <p>
    L'attribution de compétence en cas de litige, et à défaut d'accord amiable entre l’Utilisateur et FLINK, est donnée aux Tribunaux compétents de Paris,
    nonobstant pluralité de défendeurs et/ou appel en garantie, même pour les procédures d'urgence ou les procédures conservatoires en référé ou par requête.
  </p>

</div>
