<%= content_for :title do %>
  Terms
<% end %>
<div class="container">
  <p>
    <h3>TERMS OF SERVICE</h3>
    <br/>
  </p>
  <p>
    <b>Presentation of FLINK’s Service</b>
  </p>
  <p>
    <b>1 – Purpose</b>
  </p>
  <p>
    <b>2 – Access to the Service</b>
  </p>
  <p>
    <b>3 – User’s Liability</b>
  </p>
  <p>
    <b>4 – FLINK’s Liability</b>
  </p>
  <p>
    <b>5 – Suspension – Termination</b>
  </p>
  <p>
    <b>6 – Protection of privacy and personal data</b>
  </p>
  <p>
    <b>7– Intellectual property</b>
  </p>
  <p>
    <b>8 – Links To Other Websites</b>
  </p>
  <p>
    <b>9 – Acceptance Modification and consultation of the Terms of Service</b>
  </p>
  <p>
    <b>10 – Third Party Content and Information</b>
  </p>
  <p>
    <b>11 – Proof, Storage and Archiving</b>
  </p>
  <p>
    <b>12 – Additional information</b>
  </p>
  <p>
    <b>13 – Governing Law</b>
  </p>
  <br/>
  <br/>
  <p>
    <b>Presentation of FLINK’s Service :</b>
  </p>
  <p>
    FLINK is a service (hereafter named “FLINK’s Service” or the “Service”) that offers to Users the faculty to subscribe to female fashion’s websites.
  </p>
  <p>
    Through the Service, Users can discover, on a daily basis, new looks and their products references.
  </p>
  <p>
    The Service is solely accessible through the dedicated Application (hereafter named “FLINK’s App” or the “App”) downloadable on Apple’s official platform
    “App Store” and / or on the website http://www.flink.io.
  </p>
  <p>
    Subject to Users’ prior acceptance of these Terms of Services, Users can benefit from “FLINK’s Service”.
  </p>
  <p>
    Users acknowledge that the use of FLINK’s Service requires a respect of all using prescriptions as defined in these Terms of Services and acknowledge that
    they have the necessary skills and meanings to access and use FLINK’s Service.
  </p>
  <p>
    These Terms of Service govern your access to and use of the Application, application and service, and constitute a binding legal agreement between you and
    FLINK.
  </p>
  <p>
    By accessing or using FLINKS’s Service, registering for or by accepting, uploading, submitting or downloading any information or content from or to FLINK’s
    application, you agree to be bound by these Terms of Service.
  </p>
  <p>
    IF YOU DO NOT AGREE TO BE BOUND BY ALL OF THESE TERMS OF SERVICE, DO NOT USE THE SERVICE.
  </p>
  <p>
    <b>1 –PURPOSE</b>
  </p>
  <p>
    These Terms of Service define the conditions under which Users are authorized to access and use FLINK’s Service made available through FLINK’s App.
  </p>
  <p>
    <b>2 – ACCESS TO THE SERVICE</b>
  </p>
  <p>
    <b>2.1.</b>
    Registration process:
  </p>
  <p>
    <b>1°)</b>
    The User must complete the Registration Form available, through the App, by providing the true and accurate following datas :
  </p>
  <ul>
    <li>
      a valid email address that will be his/her login (Username) to access his/her Account and our Service,
    </li>
  </ul>
  <ul>
    <li>
      a password chosen by him/her, strictly personal and confidential.
    </li>
  </ul>
  <p>
    <b>2°)</b>
    By registering to the Service, the User acknowledges that he/she has read the Terms of Service. By validating its registration, the User accepts
    unconditionally to abide by the terms and conditions of use.
  </p>
  <p>
    Note:
  </p>
  <ul>
    <li>
      In case of false and / or incomplete information provided by the registrant, FLINK reserves the right, without compensation and without notice, to
      suspend or close the User’s Account.
    </li>
  </ul>
  <ul>
    <li>
      The User has the option to modify at any time his/her Account settings by logging onto the App and accessing the "My Account" section to modify its
      personal information.
    </li>
  </ul>
  <p>
    <b>3°)</b>
    Once registered, the User can subscribe to a list of various fashion websites aggregated by FLINK’s Service.
  </p>
  <p>
    <b>3 – USER’S LIABILITY</b>
  </p>
  <p>
    The User acknowledges and agrees that he/she is solely liable for his/her use of the Service.
  </p>
  <p>
    Therefore, the User is encouraged to exercise discretion and caution regarding the information he/she accesses and / or transmits through the use of the
    Service.
  </p>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    <b>4 – FLINK’S LIABILITY</b>
  </p>
  <p>
    <b>4.1.</b>
    Connecting to the Service via the App implies knowledge and acceptance by the User of characteristics and limitations of the Internet and mobile networks,
    especially regarding technical performance, response times for consulting, querying or transferring information, the risk of interruption, and more
    generally the risks inherent in any connection and transmission on the Internet / mobile networks, the lack of protection of certain data against possible
    misuse and risks of contamination by any viruses circulating on the Internet and mobile telephony.
  </p>
  <p>
    Therefore, without being exhaustive, FLINK can never be held liable for:
  </p>
  <ul>
    <li>
      The transmission and / or receipt of any data and / or information on the Internet or mobile networks;
    </li>
    <li>
      Any malfunction of the Internet and/or the mobile device preventing the proper operation of the Service;
    </li>
    <li>
      In default of any reception equipment or communication lines;
    </li>
    <li>
      The loss of any data;
    </li>
    <li>
      The operation of any software;
    </li>
    <li>
      The consequences of any virus or bug, anomaly or technical failure;
    </li>
    <li>
      Any damage to the mobile device of a user;
    </li>
    <li>
      Technical failure, hardware and software of any kind, which could damage the computer and / or the mobile device of the User.
    </li>
  </ul>
  <p>
    FLINK can’t be held liable for any malfunctions of the Internet and/or the mobile device which would lead to failures in the administration, security,
    integrity and data management of a User Account.
  </p>
  <p>
    Users are liable for the use of the Service, for their actions and must comply with these Terms, and also with laws and regulations which are in force.
  </p>
  <p>
    Any other use will grant FLINK a right to act accordingly to Article 5 “Suspension-Termination” below.
  </p>
  <p>
    Each User must take all appropriate measures to protect his/her own data and / or software stored on his/her computer and / or mobile device against any
    attack.
  </p>
  <p>
    <b>4.2.</b>
    Accessibility and Continuity at all time is not guaranteed especially in case of an interruption, scheduled or not, for the purposes of its maintenance or
    in case of force majeure. FLINK can restrict access to the Service if this measure is necessary to maintain its integrity.
  </p>
  <p>
    Therefore, FLINK doesn’t guarantee that the Service proposed will be continuous, without interruption or discontinuation, or without error.
  </p>
  <p>
    In addition, any development or change of the Service may result in an update and / or a temporary unavailability of the App, which can not engage the
    responsibility of FLINK.
  </p>
  <p>
    Similarly, FLINK reserves the right to terminate or suspend one or more features of the Service at any time, without prior notice and without giving any
    reason. In this case, the liability of FLINK can’t be committed and the Users are not entitled to any compensation.
  </p>
  <p>
    <b>4.3.</b>
    FLINK’s liability is excluded for indirect damage or loss that the User may suffer, and for all consequential damages such as lost profits, loss of
    profits, loss of use, loss or corruption of data, or the costs of the acquisition of products or substitute services resulting from the use of the App or
    data accessible via the App.
  </p>
  <p>
    <b>4.4.</b>
    FLINK does not accept any claims relating to non-performance or improper performance of the Service which would be due to the User, or an external Third
    Party to the Service.
  </p>
  <p>
    <b>4.5.</b>
    FLINK offers to Users an access to third party websites (see Article 8 - "links from FLINK" below). In this case, FLINK can’t be held liable for activities
    of these third parties and advises visitors to read the general Terms of Service applicable to such websites.
  </p>
  <p>
    <b>4.6.</b>
    FLINK’s liability as a host- FLINK has no legal duty to monitor the Content transmitted or stored via the Service.
  </p>
  <p>
    As host, the obligations of FLINK only concern the retention of connection data of Users, also covered by professional secrecy and processed incompliance
    with legal provisions on personal data (see article 6 - "Protection of privacy and personal data").
  </p>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    <b>5 – SUSPENSION– TERMINATION</b>
  </p>
  <p>
    Users are liable in their use of the Service, for their actions and must follow the rules of these Terms of Service by acting accordingly to the Service
    and the laws and regulations.
  </p>
  <p>
    FLINK is authorized to use all necessary measures to prevent or detect any unlawful or fraudulent use of its Service.
  </p>
  <p>
    In case of non compliance by the User of any provision of these Terms of Service, FLINK reserves the right, without notice or compensation, and taking into
    account the seriousness of the alleged misconduct, to:
  </p>
  <ul>
    <li>
      Inform the User of such breach and ask him to stop it immediately,
    </li>
    <li>
      Suspend the User's access to the Service (or only a part of the Service),
    </li>
    <li>
      Terminate the User's access to the Service (deleting also his User Account and its Content).
    </li>
  </ul>
  <p>
    Without prejudice to any other legal actions that could be granted to FLINK, and all benefits, to which, FLINK could claim.
  </p>
  <p>
    <b>6 – PROTECTION OF PRIVACYANDPERSONAL DATA</b>
  </p>
  <p>
    Providing nominative information within the framework of registering to the Service is compulsory, as this information is needed to process to be able to
    use the Service.
  </p>
  <p>
    The User states that he/she agrees to the storage of his/her personal datas for the entire contractual relationship period.
  </p>
  <p>
    Starting from the end of the contractual relationship and in within 12 months, User’s personal datas shall be erased from FLINK’s database.
  </p>
  <p>
    The User is free to access his/her user account to modify and/or suppress personal datas he/she submitted.
  </p>
  <p>
    The User is granted an access, modification, rectification and/or suppress right toward his/her personal datas. The User, regarding his/her personal datas,
    can use his/her access, modification, rectification and suppress right in contacting the CIL at cil@lexensis.com, and/or by writing at LEXENSIS Avocats
    Conseils, 4 place du 18 juin 1940, 75006 Paris.
  </p>
  <p>
    FLINK is authorized by the User to send information and/or offers for similar services.
  </p>
  <p>
    The User can stop these messages by clicking on the unsubscribing link in the email that he has received on his/her personal email address.
  </p>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    <b>7 – INTELLECTUAL PROPERTY</b>
  </p>
  <p>
    7.1. Thes eTerms of Service do not imply any transfer of intellectual property rights on the Service and the App belonging to FLINK, to the benefit of the
    User.
  </p>
  <p>
    7.2. The information and databases available and reproduced on the App are the property of FLINK except for the content and distinctive signs from third
    parties, aggregated by FLINK regarding its Service ( article 8 under), which remain their sole property.
  </p>
  <p>
    Therefore, and in the case where a third party, Service’s User or not, would believe that FLINK’s content constitutes a copyright infringement of its
    intellectual property, it can inform FLINK of that breach and ask for its removal within 24 hours in accordance with article 10 under.
  </p>
  <p>
    <b>7.3.</b>
    License to use the App – FLINK grants to any User who has downloaded and installed the App on his mobile device, a license to use it in accordance with
    applicable license agreement available on the platform for mobile applications concerned.
  </p>
  <p>
    This non-exclusive and non-transferable license, without right to sublicense, is granted to the User for personal and non commercial purpose, worldwide and
    for an unlimited period to allow him/her to run, display and use the App.
  </p>
  <p>
    FLINK reserves all other rights in the App.
  </p>
  <p>
    The User is not allowed to disassemble, decompile, or perform operations on reverse engineering the App, or to access its source code.
  </p>
  <p>
    The App, and all intellectual property rights relating there to, are the exclusive property of FLINK.
  </p>
  <p>
    <b>8 – LINKS TO OTHER WEBSITES</b>
  </p>
  <p>
    The Service contains hyperlinks to other websites not owned by FLINK or not controlled by FLINK.
  </p>
  <p>
    FLINK doesn’t control the content, the privacy policy, or the practices of third party websites and accepts no liability in this regard.
  </p>
  <p>
    The User acknowledges and agrees that FLINK is not responsible for the availability of such external websites or resources and does not endorse
    advertising, products or other materials on these websites or resources, or available from them.
  </p>
  <p>
    The User acknowledges and agrees that FLINK can not be held liable for any loss or damage he may suffer due to the availability of such external Websites
    or resources.
  </p>
  <p>
    <b>9 – ACCEPTANCE, MODIFICATION AND CONSULTATION OF THE TERMS OF SERVICE</b>
  </p>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    <b>9.1.</b>
    Any User who does not wish to observe to these Terms of Service shall not access the Service through the App.
  </p>
  <p>
    The User is not authorized to use the Service, and accept the Terms of Service, if:
  </p>
  <ol>
    <li>
      he/she has not reached the legal age required to enter into a contract with FLINK,
    </li>
    <li>
      the law of his/her country of residence or country from which he/she access the Service prohibits him/her from receiving or using the Service or
      prohibits such receipt or use.
    </li>
  </ol>
  <p>
    By registering to the Service, the User acknowledges that he/she has read the Terms of Service. By validating its registration, the User accepts
    unconditionally to abide by the terms and conditions of use.
  </p>
  <p>
    In any event, the fact that the User uses the Service implies full acceptance of these Terms of Service.
  </p>
  <p>
    <b>9.2.</b>
    For the necessity of its activity, FLINK reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms of Service
  </p>
  <p>
    These Terms of Service are effective on the date they are posted online.
  </p>
  <p>
    Therefore, the provisions will be those of the latest Terms of Service checkable by the user in accordance with Article 9.3. below.
  </p>
  <p>
    In any event, the continued use of the Service entails full acceptance by the User of any such changes.
  </p>
  <p>
    All provisions of the Terms of Service are available for free on the Appl, via the following URL : www.flink.io/tos.
  </p>
  <p>
    <b>10 – THIRD PARTY CONTENT AND INFORMATION</b>
  </p>
  <p>
    <b></b>
    <br/>
  </p>
  <p>
    In the event that a Third Party, User or not of the Service, determines that the content listed would undermine any of its rights, FLINK provides a link to
    that Third Party that will allow him/her to report the litigious content and ask for the full withdrawal. This report link is available by clicking
    <%= link_to 'HERE',"mailto:hello@flink.io" %>
  </p>
  <p>
    FLINK agrees to permanently remove the content listed, subject of the request, within 24 hours of receiving the report.
  </p>
  <p>
    <b>11–PROOF, STORAGE AND ARCHIVING</b>
  </p>
  <p>
    The records stored in FLINK’s computer systems in conditions of reasonable safety, will be considered as proof of communications between the User and
    FLINK.
  </p>
  <p>
    The filing of these Terms of Service accepted by the User under the conditions laid down in Article 10 above, is performed on a reliable and durable
    support so as to correspond to a faithful and durable copy. In case of conflict between the records of FLINK and any written document or electronic file of
    the User, it is expressly agreed that the computerized records of FLINK take precedence over documents of the User and will be considered as evidence.
  </p>
  <p>
    <b>12 – ADDITIONAL INFORMATION</b>
  </p>
  <p>
    For any questions about these Terms of Service, or about FLINK’s Service, the User is invited to contact FLINK to the following email address:
    <a href="mailto:hello@flink.io">hello@flink.io</a>
  </p>
  <p>
    Or by mail at the following address:
  </p>
  <p>
    FLINK - Service client
  </p>
  <p>
    21 rue Aboukir
  </p>
  <p>
    75002 Paris
  </p>
  <p>
    FRANCE
  </p>
  <p>
    <b>13 – APPLICABLE LAW – JURISDICTION</b>
  </p>
  <p>
    These Terms of Service are governed by the laws of France.
  </p>
  <p>
    In the event of dispute, the User and FLINK shall attempt to settle on an amicable basis prior to bringing any legal action. Any disputes shall be subject
    to the exclusive jurisdiction of competent courts of Paris, to which both the User and FLINK submit.
  </p>
</div>
