--- 
http_interactions: 
- request: 
    method: post
    uri: https://api-preprod.leetchi.com/v1/partner/prixing/users?ts=1367338377
    body: 
      encoding: US-ASCII
      string: "{\"Tag\":\"973902417\",\"Email\":\"test@shopelia.fr\",\"FirstName\":\"John\",\"LastName\":\"Doe\",\"Nationality\":\"FR\",\"Birthday\":315532800,\"PersonType\":\"NATURAL_PERSON\",\"CanRegisterMeanOfPayment\":true,\"IP\":\"127.0.0.1\"}"
    headers: 
      X-Leetchi-Signature: 
      - VogoalxRMGc+y79VYzbPGWzS8aCVXgSYN2Gd75nlO0qLP/OQjigoRaEmN7oW8F9EB4gbAUOXAlIlpqY/Jhy8sXOmVozKGgtXboHiJk8ZLrqlLARpkJQUPJSIDjMnmL0UoofndPvsYlej/O9TKO/fpe2eFBQStX+n7lomaAxZ3UjKcDlu1bi167Nf1JY+L2srMknzl2vCu51VRt/Tp5kmqFMPsfeaDXhQpIBD8z1ah4ncO4uiw5t/D3AHzUFHlclVV86YVEpBUO2VLnMeA3Dr9DvAfV/xhcH+lmc/1in5QwQXSJRnVlp7aZb5VGt/T9oTmbQbaxNHyxntf8TtZRRS/Q==
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"Email\":\"test@shopelia.fr\",\"FirstName\":\"John\",\"LastName\":\"Doe\",\"CanRegisterMeanOfPayment\":true,\"HasRegisteredMeansOfPayment\":false,\"IP\":\"127.0.0.1\",\"Birthday\":315532800,\"Password\":\"n5aCjwh0SZAOLvM4o29KtFngZRCxng\",\"PersonalWalletAmount\":0,\"IsStrongAuthenticated\":false,\"Nationality\":\"FR\",\"PersonType\":\"NATURAL_PERSON\",\"ID\":253458,\"Tag\":\"973902417\",\"CreationDate\":1367338378,\"UpdateDate\":1367338378}"
  recorded_at: Tue, 30 Apr 2013 16:12:57 GMT
- request: 
    method: post
    uri: http://vulcain.shopelia.fr:3000/orders
    body: 
      encoding: US-ASCII
      string: "{\"vendor\":\"AmazonFrance\",\"context\":{\"session\":{\"uuid\":\"61b7b4969e888078fdb4e4c6c8dbf2f5\",\"callback_url\":\"http://zola.epicdream.fr:4444/api/callback/orders/61b7b4969e888078fdb4e4c6c8dbf2f5\"},\"account\":{\"login\":\"test.shopelia.fr@shopelia.fr\",\"password\":\"b88c5d92\",\"new_account\":true},\"order\":{\"products_urls\":[\"http://www.amazon.fr/La-Belle-Clochard-Peggy-Lee/dp/B0065HDMNO\"],\"credentials\":null},\"user\":{\"first_name\":\"John\",\"last_name\":\"Doe\",\"birthdate\":{\"day\":1,\"month\":1,\"year\":1980},\"gender\":0,\"mobile_phone\":\"0640404040\",\"land_phone\":\"0140404040\",\"address\":{\"address_1\":\"21 rue d'Aboukir\",\"zip\":\"75002\",\"city\":\"Paris\",\"country\":\"FR\"}}}}"
    headers: 
      X-Vulcain-Apikey: 
      - none
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Tue, 30 Apr 2013 17:13:30 GMT
[...]
- request: 
    method: post
    uri: http://vulcain.shopelia.fr:3000/orders
    body: 
      encoding: US-ASCII
      string: "{\"vendor\":\"AmazonFrance\",\"context\":{\"session\":{\"uuid\":\"7c2a3c1ac6f75c8afbe98f92a09db07f\",\"callback_url\":\"http://zola.epicdream.fr:4444/api/callback/orders/7c2a3c1ac6f75c8afbe98f92a09db07f\"},\"account\":{\"login\":\"test.shopelia.fr@shopelia.fr\",\"password\":\"b4856604\",\"new_account\":true},\"order\":{\"products_urls\":[\"http://www.amazon.fr/La-Belle-Clochard-Peggy-Lee/dp/B0065HDMNO\"],\"credentials\":null},\"user\":{\"first_name\":\"John\",\"last_name\":\"Doe\",\"birthdate\":{\"day\":1,\"month\":1,\"year\":1980},\"gender\":0,\"mobile_phone\":\"0640404040\",\"land_phone\":\"0140404040\",\"address\":{\"address_1\":\"21 rue d'Aboukir\",\"zip\":\"75002\",\"city\":\"Paris\",\"country\":\"FR\"}}}}"
    headers: 
      X-Vulcain-Apikey: 
      - none
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Mon, 06 May 2013 18:44:43 GMT
recorded_with: VCR 2.4.0
