--- 
http_interactions: 
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=21%20rue%20d'Abou&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.84,2.24&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "predictions" : [
              {
                 "description" : "21 Rue d'Aboukir, Paris, France",
                 "id" : "d384459f2688029bde23ec80bdf0470ccd14ddad",
                 "matched_substrings" : [
                    {
                       "length" : 13,
                       "offset" : 0
                    }
                 ],
                 "reference" : "CjQjAAAAPtgCbee5jsEkoWoc6apT3qFBYmWlxcVOPrwUBoQ5Pqv8ExTxyh-M--tsL8QAT8xCEhBo2z7K3wdT4K6S7smh--ZIGhTCBtyjxjD5fBNcR15jutp7SZA2Fw",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "21 Rue d'Aboukir"
                    },
                    {
                       "offset" : 18,
                       "value" : "Paris"
                    },
                    {
                       "offset" : 25,
                       "value" : "France"
                    }
                 ],
                 "types" : [ "route", "geocode" ]
              },
              {
                 "description" : "21 Rue d'Aboukir, Courbevoie, France",
                 "id" : "e6129e16a73a5e3200f85f585a8c9eee2dd0e6c3",
                 "matched_substrings" : [
                    {
                       "length" : 13,
                       "offset" : 0
                    }
                 ],
                 "reference" : "CjQoAAAAdUVxtkedIl7lF-HSrEPg1AIPZ2gNdgqg9M6HvUx9u30ueiVkkkm00zzbXOxgP66gEhAtAaW67rwajNxskN[...]
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=CjQjAAAAayp57PBp8VsXGk95D-bcjxaz8d1ZEZe1yrT07u8bukh751Kmd_KQoGBi-XrCgTTDEhAcEEqvF0sKgNGzbcaZgOL0GhTqOTTInJm1xWFqEF_rYiHkQbz9g
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "status" : "REQUEST_DENIED"
        }

  recorded_at: Tue, 23 Apr 2013 08:44:43 GMT
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=CjQjAAAAPtgCbee5jsEkoWoc6apT3qFBYmWlxcVOPrwUBoQ5Pqv8ExTxyh-M--tsL8QAT8xCEhBo2z7K3wdT4K6S7smh--ZIGhTCBtyjxjD5fBNcR15jutp7SZA2Fw
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "status" : "REQUEST_DENIED"
        }

  recorded_at: Tue, 23 Apr 2013 08:47:02 GMT
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=CjQjAAAAPtgCbee5jsEkoWoc6apT3qFBYmWlxcVOPrwUBoQ5Pqv8ExTxyh-M--tsL8QAT8xCEhBo2z7K3wdT4K6S7smh--ZIGhTCBtyjxjD5fBNcR15jutp7SZA2Fw&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\" : [\n         {\n            \"long_name\" : \"21\",\n            \"short_name\" : \"21\",\n            \"types\" : [ \"street_number\" ]\n         },\n         {\n            \"long_name\" : \"Rue d'Aboukir\",\n            \"short_name\" : \"Rue d'Aboukir\",\n            \"types\" : [ \"route\" ]\n         },\n         {\n            \"long_name\" : \"2nd arrondissement of Paris\",\n            \"short_name\" : \"2nd arrondissement of Paris\",\n            \"types\" : [ \"sublocality\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"Paris\",\n            \"short_name\" : \"Paris\",\n            \"types\" : [ \"locality\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"Paris\",\n            \"short_name\" : \"75\",\n            \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"\xC3\x8Ele-de-France\",\n            \"short_name\" : \"IdF\",\n            \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"France\",\n            \"short_name\" : \"FR\",\n            \"types\" : [ \"country\", \"political\" ]\n         },\n         {\n            \"long_name\" : \"75002\",\n            \"short_name\" : \"75002\",\n            \"types\" : [ \"postal_code\" ]\n         }\n      ],\n      \"adr_address\" : \"\\u003cspan class=\\\"street-address\\\"\\u003e21 Rue d'Aboukir\\u003c/span\\u003e, \\u003cspan class=\\\"postal-code\\\"\\u003e75002\\u003c/span\\u003e \\u003cspan class=\\\"locality\\\"\\u003eParis\\u003c/span\\u003e, \\u003cspan class=\\\"country-name\\\"\\u003eFrance\\u003c/span\\u003e\",\n      \"formatted_address\" : \"21 Rue d'Aboukir, 75002 Paris, France\",\n      \"geometry\" : {\n         \"location\" : {\n            \"lat\" : 48.86658960,\n            \"lng\" : 2.34330030\n         }\n      },\n      \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png\",\n      \"id\" : \"4e1919a567807ee66c3c69285b87c6888b3a1a0d\",\n      \"name\" : \"21 Rue d'Aboukir\",\n      \"reference\" : \"CpQBhQAAAHhGNdKGXXoyPVsn2GH7IY3uIlB1HPCDGuoJp5ClyyViprpo6LE38j0mb-BTOBJxqWuh8X0bV1k8qTWxzR_irhvYi0Le1VGCAtW_n0GRvFdsFjXQhxp-pGC6eU_J8BMFXKWCG0kwHNAsjt8fixRhlrIIQHFPVf-dX4TNr5cHnas7gUcURqzP66iSKop2qUIBLhIQdgBbjFfYfwrV_x4GDFyV4hoUgHxi9g_bDsnCDCiSQrokuSCGdIU\",\n      \"types\" : [ \"street_address\" ],\n      \"url\" : \"https://maps.google.com/maps/place?q=21+Rue+d%27Aboukir&ftid=0x47e66e22d53221a3:0x56b1dd6ddb4cb00e\",\n      \"vicinity\" : \"2nd arrondissement of Paris\"\n   },\n   \"status\" : \"OK\"\n\
        }\n"
  recorded_at: Tue, 23 Apr 2013 08:47:59 GMT
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.82,2.24&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "predictions" : [],
           "status" : "INVALID_REQUEST"
        }

  recorded_at: Tue, 23 Apr 2013 09:08:01 GMT
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=21%20rue%20Abou&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.82,2.24&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
    [...]
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=CjQjAAAAayp57PBp8VsXGk95D-bcjxaz8d1ZEZe1yrT07u8bukh751Kmd_KQoGBi-XrCgTTDEhAcEEqvF0sKgNGzbcaZgOL0GhTqOTTInJm1xWFqEF_rYiHkQbz9g&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }

  recorded_at: Tue, 23 Apr 2013 09:10:06 GMT
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&reference=ClRNAAAAu2vgwlaOOP9j92SUZSmS6c3XQppD_H3-g-LForQzhQAihTD0uTNT234nHwpnaVeWvCdntvOmrwouNIcBQwO4cOPR3bmdimEO0pP-9DwKQFoSEPa_CqCJIjc3H-w5hoxAQ60aFBJxKAF7cHWMdYe2A4bzJmCScypn&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK[...]
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=21%20rue%20Abou&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.82,2.24&radius=100&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      str[...]
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=21%20rue%20d'Abou&key=AIzaSyDy_IvoH2PkTUM3e_5FBwMjHotCkNX1fTY&location=48.84,2.24&radius=100&sensor=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      s[...]
