.password-reset-section img{
  width:60%;
}
.password-reset-section form{
  margin: 10px auto;
  width:80%;
}
.password-info{
  margin: 20px auto;
  width:80%;
}
.password-reset-section .btn-password-reset{
  margin-top:20px;
  background:white;
  border:none;
  padding:6px;
  font-size:14px;
}
input[type=password]{
  height:30px;
  margin-top:5px;
  font-size:14px;
}
.alert-danger{
  color:red;
  margin: 20px auto;
}
