%footer
  .container
    %ul.list-inline.pull-left.links
      %li Sécurité
      %li Aide
      %li Mentions légales
    %ul.list-inline.pull-right
      %li= image_tag("twitter-icon.png")
      %li= image_tag("facebook-icon.png")
      %li= image_tag("email-icon.png")



