<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="Discover, get inspired and share trendy street style looks from top fashion bloggers">
    <meta name="google-site-verification" content="ksV4TOKBXP-aC68eKvJATSA9gTvXbz-NNvZwV56IoiY">
    <meta name="apple-itunes-app" content="app-id=798552697">
    <meta name="keywords" content="">
    <meta name="robots" content="follow,index">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <%= stylesheet_link_tag "flink/flink-fashion.css" %>
    <%= javascript_include_tag "flink/flink-fashion.js" %>
    
    <%=  yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
